.l-collections {
  &__grid {
    @extend .row-grid;
  }
}

.collection-item {
  position: relative;
  overflow: hidden;
  cursor: pointer;

  span {
    position: absolute;
    bottom: 0;
    left: 0;
    color: white;
    margin: $standard-margin;
  }

  img {
    display: block;
    width: 100%;
    transform-origin: 0 50%;
    transition: all 1s ease-out;
  }

  @at-root .no-touchevents &:hover {
    img {
      transform: scale(1.03, 1.03);
    }
  }
}

.collection-text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;

  p {
    color: $color-warm-grey;

    @include mq(md) {
      width: 50%;
    }
  }
}