/* ==========================================================================

   Site Footer and Colophon
   ====

========================================================================== */

.c-footer {
  position: relative;
  z-index: 2;
  background: $color-light-grey;
  // text-transform: uppercase;
  padding: $standard-margin-mobile;

  @include mq(md) {
    padding: $large-margin;
  }

  a::after {
    content: none;
  }

  &__logo {
    display: none;

    @include mq(md) {
      display: block;
      width: 160px;

      img {
        display: block;
        width: 100%;
      }
    }
  }

  &__column {
    position: relative;
    flex: 1 1 auto;
    padding: $small-margin-mobile 0;
    border-bottom: 1px solid rgba($color-warm-grey, 0.25);

    @include mq(md) {
      padding: 0;
      border: 0;

      .c-footer-first {
        width: 30%;
        order: 4;
      }
    }

  }

  &__row {
    display: flex;
    justify-content: space-between;
    flex-flow: column;

    @include mq(md) {
      flex-flow: row;

      &:first-of-type {
        margin-bottom: $large-margin;
      }
    }
  }

  &__credits {
    color: $color-warm-grey;
    font-size: font-size(s);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: $standard-margin-mobile;

    &:last-child {
      padding-top: 10px;
    }

    span {
      text-transform: uppercase;
      color: $color-dark;
      line-height: 1rem;
      font-size: 10px;
    }

    img {
      display: block;
      margin-left: 10px;
    }
  }

  strong {
    font-size: font-size(s);
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: $small-margin-mobile;

    &--first {
      display: flex;
      flex-flow: row wrap;

      @include mq(md) {
        flex-flow: column;

        a {
          font-size: font-size(m);
        }
      }

      li {
        width: 50%;
        flex: 0 0 auto;

        @include mq(md) {
          width: 100%;
        }
      }
    }

    a {
      font-weight: 400;
      margin: 5px 0;
      text-decoration: none;

      &::after {
        content: none;
      }
    }
  }

  &__socials {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0 auto;
    margin-top: $small-margin;
    justify-content: space-between;
    width: 80%;

    @include mq(md) {
      margin: 0;
      width: 100%;
      justify-content: flex-start;
    }

    a {
      display: block;

      @include mq(md) {
        margin: 5px;
      }

      &::before {
        display: none;
      }
    }
  }
}