/* ==========================================================================

   Site Header
   ====

   ========================================================================== */

.c-main-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: z-index(header);
  padding: 5px;
  margin: 0;
  background: transparent;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  visibility: visible;
  opacity: 1;
  transition: all 0.6s cubic-bezier(.7,.32,.52,.84);
  background: white;

  @at-root .is-header-light & {
    background: transparent;
  }

  &.is-open {
    [data-voice] {
      color: $color-dark;
    }
  }

  .c-close-button {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    margin: $standard-margin auto;

    span {
      background: white;
    }
  }

  @at-root .is-header-hidden & {
    transform: translate3d(0, -60%, 0);
    visibility: hidden;
    opacity: 0;
  }

  &__bag-mobile {
    position: relative;
    width: 25px;
    height: 25px;
    margin: $small-margin-mobile;

    .o-icon {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 0;
    }

    span {
      position: absolute;
      top: 0;
      left: 0;
      font-family: $font-family-sans;
      font-size: font-size(s);
      width: 100%;
      height: 100%;
      display: flex;
      background: $color-dark;
      color: $color-light;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
    }

    @at-root .is-header-light & {
      span {
        background: $color-light;
        color: $color-dark;
      }
    }

    @include mq(md) {
      display: none;
    }
  }

  &__back {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $color-dark;
    z-index: -3;
    cursor: pointer;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: scaleY(1, 0);
    transition-delay: 0s;
    transition: all 0.5s ease-out;

    &.is-active {
      opacity: 0.8;
      visibility: visible;
      pointer-events: all;
      transform: scale(1, 1);
      transition-delay: 1s;
    }
  }
}