/* =============================================================================

   Layout
   ====

   ========================================================================== */

/* ==========================================================================
   ##Base Layouts
   ========================================================================== */

.l-wrapper {
    width: 100%;
    background: $color-light;
    overflow: hidden;
}

.l-container {
    margin-top: 120px;
    margin: 0 $mini-margin;
    // max-width: $container-width;

    @include mq(md) {
        margin-top: 120px;
        margin: 0 $giga-margin;
    }
}

.l-product {
    padding-top: 80px;
    position: relative;
    // height: 100vh;
    // overflow: hidden;
    background: $color-light-grey;

    @include mq(md) {
        padding: 0;
    }
}

.l-photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32%, 1fr));
    grid-gap: $small-margin;
    padding: $standard-margin 0;

    img {
        display: block;
        width: 100%;
    }
}