.l-listing {
  margin-top: 120px;

  &__list {
    @extend .row-grid;
  }

  a {
    &::after {
      display: none;
    }
  }

  &__load-more {
    margin: $standard-margin;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.c-listing-hero {
  position: relative;
  height: 50vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  color: white;

  &__title {
    text-align: center;
    font-size: font-size(xl);
    margin-top: $giga-margin;

    @include mq(md) {
      margin: $standard-margin;
    }
  }

  &__subtitle {
    font-size: font-size(m)
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center center;
    background-size: cover;
    z-index: -1;
  }
}