.l-press {
  position: relative;
  margin-top: 80px;

  @include mq(md) {
    margin-top: 120px;
  }

  &__title {
    text-align: center;
    margin: $standard-margin-mobile;

    @include mq(md) {
      position: absolute;
      margin: 0;
      top: 0;
      left: 0;
      right: 0;
    }
  }

  &__grid {
    width: 100%;
    @include gridbox();
    @include grid-columns(repeat(2, 1fr));
    grid-gap: $small-margin-mobile;

    @include mq(md) {
      @include grid-columns(repeat(3, 1fr));
      padding: $small-margin;
      grid-gap: $small-margin;

      > article:nth-of-type(3n-1) {
        margin-top: $giga-margin;
      }
    }
  }

  &__load-more {
    margin: $standard-margin;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}