/* ==========================================================================

   Application Themes
   ====

========================================================================== */

.t-theme-light {
  color: $color-light;
}

.t-uppercase {
  text-transform: uppercase;
}