.c-boutique {
  display: flex;
  flex-flow: column-reverse;
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow: visible;

  @include mq(md) {
    flex-flow: row;
    height: 100vh;
    overflow: hidden;
  }

  &__col {
    position: relative;
    width: 100%;
    height: 50%;
    flex: 0 0 auto;
    // max-width: $container-width;

    @include mq(md) {
      height: 100%;
      width: 50%;
    }
  }

  &__info {
    height: 100%;
    max-width: $container-width / 2;
    padding: $standard-margin-mobile;
    margin: 20px auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;

    address {
      font-style: normal;
      margin: $small-margin 0;
    }

    @include mq(md) {
      position: absolute;
      width: 75%;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
      padding: $standard-margin;
    }
  }

  &__maps {
    height: 50%;
    display: none;

    @include mq(md) {
      display: block;
    }
  }

  &__slideshow {
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;

    @include mq(md) {
      height: 50%;
    }
  }

  &__slide {
    @include boost-performance();
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-size: cover;
    background-position: center center;
  }
}


.c-boutique__info {
  .boutique-info-intro {
    width: 100%;
  }

  .boutique-info-col {
    position: relative;
    width: 50%;
    flex: 0 0 auto;

    &:last-of-type {
      padding-left: $small-margin;
    }
  }

  .boutique-maps-link {
    a,
    a:visited {
      position: absolute;
      left: 0;
      bottom: 0;
      margin-left: $small-margin;
      color: $color-warm-grey;
      font-weight: 600;

      &::after {
        background: $color-warm-grey;
      }
    }
  }

  .boutique-info-row {
    padding-top: $standard-margin;
  }

  .boutique-info-cols {
    display: flex;
    margin: $small-margin 0;

    position: relative;
    display: flex;
    width: 100%;
    border-top: 1px solid lighten($color-warm-grey, 20);
    font-size: font-size(s);

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: auto;
      width: 1px;
      height: 25%;
      background: lighten($color-warm-grey, 20);
    }

    strong {
      display: block;
      margin-bottom: $mini-margin;
      text-transform: uppercase;
    }
  }
}