.c-cart {
  width: 80vw;
  max-width: $container-width;

  &__header {
    margin: $standard-margin 0;
    text-align: left;
    font-size: font-size(l);
  }
}

/* Product entries */
.c-product-row {
  width: 100%;
  margin: $mini-margin 0;
  // flex-flow: row;
  align-items: center;
  font-size: font-size(s);
  text-transform: uppercase;
  display: grid;

  @include mq(md) {
    grid-template-columns: 60px 1fr 2fr 2fr 1fr 1fr 1fr;
    margin: $mini-margin 0;
  }

  @include mq(lg) {
    grid-template-columns: 80px 1fr 2fr 2fr 1fr 1fr 1fr;
    margin: $mini-margin 0;
  }

  &__image {
    text-align: center;
    img {
      width: 100%;
    }
  }

  &__title {
    text-align: left;
    font-family: $font-family-sans;
    font-size: font-size(s);
  }

  &__label {
    margin-right: 10px;
  }

  &__size,
  &__color {
    strong {
      font-size: font-size(s);
    }

    img {
      margin-right: 10px;
      width: 15px;
    }
  }

  &__quantity {
    display: flex;
    align-items: center;
    justify-content: center;

    [data-quantity] {

    }

    input {
      border: 0;
      text-align: center;
      width: 50px;
      margin: 0 5px;
    }
  }

  &__increase {
    display: flex;
    font-size: font-size(20);

    button {
      background: transparent;
      border: 0;
    }
  }

  &__price {
    text-align: right;
  }

  &__removal {
    text-align: right;

    .remove-product {
      border: 0;
      letter-spacing: 1px;
      text-transform: uppercase;
      font-weight: 600;
      color: #d0d0d0;

      &::after {
        background: #d0d0d0;
      }
    }
  }
}


/* Totals section */
.c-cart__prices {
  display: grid;
  grid-template-columns: 100px 1fr 1fr 2fr 1fr 1fr 20%;
  font-size: font-size(s);
  align-items: center;
  border-top: 1px solid rgba($color-warm-grey, 0.5);
  margin-top: $small-margin;
  padding-top: $small-margin;

  label {
    grid-column-start: 2;
    text-align: left;
    padding: 8px 0;
  }

  .price-value,
  .total-value {
    grid-column-start: 6;
    text-align: right;
  }

  .total-label,
  .total-value {
    font-weight: 600;
    font-size: font-size(m);

  }

  button {
    margin-left: $large-margin;
  }
}