.c-close-button {
  position: relative;
  margin: 0;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: 0;
  background: none;
  outline: none;
  overflow: hidden;

  span {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    display: block;
    width: 20px;
    height: 1px;
    background: $color-dark;
    transform-origin: 50% 50%;
    transition: all 0.4s ease-in-out;

    &:first-child {
      transform: translate3d(0, 0, 0) rotate(-45deg);
    }

    &:last-child {
      transform: translate3d(0, 0, 0) rotate(45deg);
    }
  }

  @at-root .no-touchevents &:hover {
    span:first-child {
      animation: cross2 0.8s cubic-bezier(.1,.71,.25,.89);
    }

    span:last-child {
      animation: cross1 0.8s cubic-bezier(.1,.71,.25,.89);
    }
  }
}

@keyframes cross1 {
  0% {
    transform: translate3d(0, 0, 0) rotate(-45deg);
  }

  50% {
    transform: translate3d(20px, -20px, 0) rotate(-45deg);
  }

  51% {
    transform: translate3d(-20px, 20px, 0) rotate(-45deg);
  }

  100% {
    transform: translate3d(0px, 0px, 0) rotate(-45deg);
  }
}

@keyframes cross2 {
  0% {
    transform: translate3d(0, 0, 0) rotate(45deg);
  }

  50% {
    transform: translate3d(-20px, -20px, 0) rotate(45deg);
  }

  51% {
    transform: translate3d(-20px, -20px, 0) rotate(45deg);
  }

  100% {
    transform: translate3d(0, 0, 0) rotate(45deg);
  }
}