.c-collections-backstage {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  font-size: font-size(l);
  color: white;
  background-size: cover;
  background-position: center center;
  transition: all 1.2s ease-out;

  &__bg {
    transform-origin: 0 50%;
    transition: all 0.55s ease-out;
    outline: none;
  }

  &::after {
    display: none;
  }

  @at-root .no-touchevents &:hover {
    .c-collections-backstage__bg {
      transform: scale(1.02, 1.02);
    }
  }

  &__hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .backstage-cta {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin: $standard-margin;
  }
}