.c-counter {
  position: absolute;
  bottom: 0;
  right: 0;
  background: rgba($color-light, 0.2);
  border-radius: 20px;
  padding: 10px;
  z-index: 10;
  font-size: font-size(s);
  margin: $mini-margin-mobile;
  color: $color-light;
}

.c-counter.c-counter--dark {
  color: $color-dark;
  background: rgba($color-warm-grey, 0.2);
}