.c-credits {
  position: relative;
  display: grid;
  grid-gap: $small-margin;
  padding: $giga-margin 0;
  grid-template-columns: 1fr 1fr;

  @include mq(md) {
    grid-template-rows: auto auto;
    grid-template-columns: repeat(auto-fit, minmax(10%, 1fr));
  }

  &__title {
    grid-column: 1/3;
    font-family: $font-family-sans;
    width: 100%;
    margin: $standard-margin 0;
    font-size: font-size(22);
  }

  &__item {
    font-size: font-size(s);

    @include mq(md) {
      grid-row-start: 2;
    }

    strong {
      display: block;
      margin-bottom: 10px;
    }
  }

  &::before {
    content: "";
    display: block;
    height: 1px;
    width: 100%;
    background: #dfdfdf;
    position: absolute;
    top: $giga-margin;
    left: 0;
  }
}