.c-customer-care {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-flow: column;
  height: 100%;

  &__title {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: font-size(s);
    letter-spacing: 1px;
    margin-bottom: $large-margin;
  }

  &__number {
    font-size: font-size(s);
  }

  &__menu {
    list-style: none;
    margin: 0;
    padding: 0;
    margin: $large-margin 0;
    margin-top: 0;

    li {
      margin: $mini-margin 0;
    }
  }
}