.c-dots {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 6;
  display: flex;
  justify-content: flex-end;
  margin: $small-margin-mobile;

  @include mq(md) {
    display: none;
  }

  [data-dot] {
    width: 6px;
    height: 6px;
    margin: 6px;
    display: block;
    border-radius: 50%;
    background: $color-dark;
    opacity: 0.3;
    transition: opacity 0.3s ease-out;

    &[data-active] {
      opacity: 1;
    }
  }
}