/* ==========================================================================
  Template Module
  ====

  A description

  ```
  <div class="module">HTML template</div>
  ```
========================================================================== */

.c-double-static {
  display: flex;
  width: 100%;
  flex-flow: row wrap;

  &--invert {
    flex-flow: row-reverse;
  }
}