.o-dropdown {
  position: relative;
  z-index: 2;

  &.is-open {
    .dropdown-arrow {
      transform: rotate(180deg);
    }
  }

  &__label {
    background: transparent;
    border: 0;
    letter-spacing: 1px;
    outline: none;
    text-transform: uppercase;
  }

  .dropdown-arrow {
    margin-left: 10px;
    width: 25px;
    height: 25px;
    transition: all 0.4s ease-out;
    stroke: $color-dark;
  }

  &__menu {
    position: absolute;
    top: -$small-margin;
    left: -$small-margin;
    background: $color-light-grey;
    z-index: -1;
    border: 2px solid white;

    transform-origin: 0 0;
    overflow: hidden;
  }

  &__wrapper {
    padding: $standard-margin;
    padding-top: $large-margin;

    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
  }

  &__column {
    padding: $standard-margin;

    strong {
      text-transform: uppercase;
      display: block;
      margin-bottom: $small-margin;
    }

    ul {
      margin: 0;
      padding: 0;
      // columns: 2;
      // column-gap: $large-margin;
      list-style: none;
    }

    li {
      display: block;
      width: 100%;
      margin: 10px 0;
      white-space: nowrap;
    }
  }

  &__row {
    width: 100%;
    grid-column: 1/3;
    padding: $small-margin;
  }
}

.o-dropdown--right {
  .o-dropdown__menu {
    right: -$small-margin;
    left: auto;
    transform-origin: 100% 0;
  }
}

[data-dropdown] {
  position: relative;

  > [data-dropdown-toggle] {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  > [data-dropdown-menu] {
    height: 0;
  }

  .dropdown-arrow {
    transition: all 0.3s ease-out;
  }

  &.is-open {
    > [data-dropdown-menu] {
      height: auto;
    }

    .dropdown-arrow.is-open {
      transform: rotate(180deg);
    }
  }
}