.c-editorial {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem;

  @include mq(md) {
    height: 90vh;
    padding: 10rem;
  }

  p {
    color: $color-light;
    font-family: $font-family-serif;
    font-size: font-size(23);
    line-height: 1.2;

    @include mq(md) {
      font-size: font-size(ll);
      width: 50%;
      line-height: 1.4;
    }
  }
}