.c-filters {
  display: none;

  @include mq(md) {
    display: block;
  }
}

.c-filters-mobile-toggle {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
  z-index: 2;

  button {
    cursor: pointer;
    border: 0;
    background: $color-light;
    padding: 10px 20px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.03), 0 3px 6px rgba(0,0,0,0.10);
    font-size: font-size(13);
  }

  .dropdown-arrow {
    position: relative;
    width: 15px;
    height: 15px;
    margin-left: 10px;
  }
}

.c-filters-mobile {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: z-index(modal);

  display: flex;
  justify-content: center;
  padding: 20px;

  opacity: 0;
  visibility: hidden;

  [data-panel-wrapper] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $color-light;
    overflow-y: scroll;
    z-index: 2;
  }

  &__aligner {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    padding: 20px;

    .o-button {
      margin: 5px;
      width: 50%;
    }
  }

  .c-close-button {
    position: fixed;
    right: 0;
    top: 0;
    margin: $standard-margin-mobile;
  }

  .o-dropdown__column ul {
    column-count: 2;

    li {
      margin: 0;
    }

    a {
      display: inline-block;
      margin: 10px 0;
    }
  }

  @include mq(md) {
    display: none;
  }
}