.c-flag {
  display: flex;
  flex-flow: wrap;

  @include mq(md) {
    flex-flow: nowrap;
  }

  &__body {
    flex: 0 0 auto;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 4rem;

    @include mq(md) {
      width: 50%;
      padding: 2rem;
    }

    p {
      @include mq(md) {
        width: 50%;
      }

      &.flag-serif {
        font-family: $font-family-serif;
        font-weight: 400;
        line-height: 1.4;
        font-size: font-size(23);

        @include mq(md) {
          font-size: font-size(33);
        }
      }
    }
  }

  &__image {
    position: relative;
    flex: 0 0 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mq(md) {
      width: 50%;
    }

    img {
      width: 100%;
    }
  }
}

.c-flag.c-flag--invert {
  flex-flow: row-reverse;
  flex-flow: wrap;

  @include mq(md) {
    flex-flow: nowrap;
  }
}