.c-footer-newsletter {
  position: relative;
  font-size: font-size(s);
  font-family: $font-family-sans;
  justify-content: space-between;
  max-width: 400px;

  &__privacy {
    font-size: font-size(9);
    color: #999;
  }

  .c-footer-newsletter__response {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-out;
    text-transform: uppercase;
    font-weight: 600;
    display: flex;
    align-items: center;
    // justify-content: center;
    // font-size: font-size(m);

    [data-success] {
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.5s ease-out;
    }
  }

  &.is-success,
  &.is-error {
    [data-form] {
      visibility: hidden;
      pointer-events: none;
      opacity: 0;
      transition: opacity 0.5s ease-out;
    }

    [data-success] {
      visibility: visible;
      opacity: 1;
    }
  }

  form {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    opacity: 1;

    button {
      margin-left: 15px;
    }
  }

  > strong {
    flex: 0 0 auto;
    width: 100%;
  }

  input[type="email"] {
    display: block;
    background: $color-light;
    width: auto;
    flex: 1 1 auto;
    max-width: 320px;
  }
}