.c-fullscreen-carousel {
  position: relative;
  width: 100%;
  height: 95vh;

  &__container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  &__slide {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    color: $color-light;

    &.is-active {
      z-index: 2;
    }
  }

  &__content {
    position: relative;
    color: $color-light;
    text-align: center;
    z-index: 1;

    .typo-ui-text {
      color: $color-light;
    }
  }

  &__title {
    margin: 20px 0;
  }

  &__back {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: cover;
    background-position: center center;
    z-index: 0;
  }

  &__controls {
    display: none;

    @include mq(md) {
      margin: auto 8rem;
      visibility: hidden;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto 3rem;
      height: 35px;
      z-index: 5;
      display: flex;
      justify-content: space-between;

      button {
        background: rgba($color-light, 1);
        border-radius: 50%;
        width: 50px;
        height: 50px;
        visibility: visible;
        cursor: pointer;
        border: 0;
        padding: 0;
        outline: 0;

        .o-icon {
          stroke: $color-dark;
        }
      }
    }

  }
}