.c-gallery {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $color-light;
  z-index: z-index(header) + 2;

  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  &.is-active {
    pointer-events: all;
    opacity: 1;
    visibility: visible;
  }

  &__slide {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15vh;

    figure {
      height: 100%;

      img {
        display: block;
        height: 100%;
      }

      figcaption {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
        margin: $standard-margin;
        font-size: font-size(l);
        font-family: $font-family-serif;
      }
    }
  }

  .c-close-button {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: $standard-margin auto;
    z-index: 10;
  }

  [data-panel-inner] {
    width: 100%;
    height: 100%;
  }

  &__navigation {
    button {
      background: none;
      font-size: font-size(l);
      font-family: $font-family-serif;
      border: 0;
      outline: none;
      cursor: pointer;
      margin: 20px;
      padding: 0;
      width: 320px;
      height: 50px;

      > div {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .left,
    .right {
      position: absolute;
      top: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      z-index: 9;
      width: 50%;
      flex: 0 0 auto;
    }

    .left {
      left: 0;
      justify-content: flex-start;

      button {
        transform: rotate(90deg) translateX(-50%);
        transform-origin: 0 100%;
      }
    }

    .right {
      right: 0;
      justify-content: flex-end;

      button {
        transform: rotate(-90deg) translateX(50%);
        transform-origin: 100% 100%;
      }
    }
  }
}