.c-hamburger {
  position: relative;
  margin: $small-margin-mobile;
  width: 20px;
  height: 15px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;

  span {
    display: block;
    height: 1px;
    width: 100%;
    background: $color-dark;
    transform-origin: center;
    transition: all .3s;
  }

  @include mq(md) {
    display: none;
  }
}

.is-header-light {
  .c-hamburger span {
    background: $color-light;
  }
}