/* ==========================================================================
  Template Module
  ====

  A description

  ```
  <div class="module">HTML template</div>
  ```
  ========================================================================== */

.c-hero {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  color: white;
  overflow: hidden;
  background: black;
  height: 90vh;

  @include mq(md) {
    height: 100vh;
  }

  &__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 3;
    // flex-flow: row;
    will-change: transform, opacity;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: $color-dark;
      opacity: 0.3;
      z-index: 1;
    }
  }

  &__column {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex: 0 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    z-index: 3;
    opacity: 0.4;
    transition: opacity 1.2s ease-out;

    @include mq(md) {
      position: relative;
      flex: 0 1 auto;
    }

    &:nth-child(2) {
      &::after {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        width: 1px;
        height: 20%;
        background: rgba($color-light, 0.25);

        @include mq(md) {
          content: "";
        }
      }
    }

    &.is-active {
      opacity: 1;
    }

    .o-button {
      margin: 5px $small-margin;

      @include mq(md) {
        margin: 0 $small-margin;
      }
    }
  }

  &__container {
    position: relative;
    cursor: pointer;
  }

  &__title {
    margin: $standard-margin-mobile 0;

    // font-size: font-size(xl);
    @include mq(md) {
      margin-bottom: $large-margin;
      margin-top: $standard-margin;
    }
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-size: cover;
    background-position: center center;
  }

  &__video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  [data-background] {
    opacity: 0;
    z-index: 0;

    &.is-active {
      z-index: 1;
      opacity: 1;
    }
  }
}

/* ==========================================================================
  ### Sub section comment

  ```
    <div class="module--modifier">HTML template</div>
  ```
========================================================================== */

.c-hero--mood {
  .c-scroll-line {
    left: auto;
    right: $standard-margin;
  }

  .c-hero__container {
    position: absolute;
    bottom: 0;
    left: 0;
    color: $color-dark;
    background: $color-light;
    text-align: left;
    padding: $large-margin-mobile $standard-margin-mobile;

    @include mq(md) {
      padding: $giga-margin;
      width: 50%;
    }

    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    @include mq(md) {
      flex-wrap: nowrap;
    }
  }

  .c-hero__title {
    margin: 0;
    padding: $small-margin-mobile 0;

    @include mq(md) {
      padding-right: $standard-margin;
    }
  }

  p.c-hero__text {
    flex: 0 0 auto;
    width: 100%;

    @include mq(md) {
      width: 60%;
    }
  }

  .c-hero__caption {
    text-transform: uppercase;
    font-weight: 600;
    font-size: font-size(s);
    opacity: 1;

    @include mq(md) {
      position: absolute;
      top: 0;
      left: 0;
      padding: $giga-margin / 2 $giga-margin;
    }
  }
}

.c-hero--small {
  height: 70vh;
}