.c-hover-bar {
  position: absolute;
  top: 10px;
  left: 0;
  width: 0px;
  height: 2px;
  background: $color-dark;
  will-change: width, transform;
  display: none;
  z-index: 2;

  @include mq(md) {
    display: block;
  }

  @at-root .is-header-light & {
    background: $color-light;
  }
}