.o-icon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: all 0.35s ease-out;

  @include mq(md) {
    width: 25px;
    height: 25px;
    padding: 5px;
  }

  &.o-icon--arrow {
    stroke-width: 0.5px;
    fill: none;
    fill-rule: evenodd;
    stroke: #393939;

    @at-root .no-touchevents &:hover {
      &[data-prev] {
        transform: translate3d(-5px, 0, 0);
      }

      &[data-next] {
        transform: translate3d(5px, 0, 0);
      }
    }
  }

  &.o-icon--close {
    stroke-width: 1;
    fill: none;
    fill-rule: evenodd;
    stroke: #393939;

    @at-root .no-touchevents &:hover {
      transform: rotate(90deg);
    }
  }

  &.o-icon--light {
    stroke: $color-light;
  }
}

.o-icon-button {
  background: transparent;
  border: 0;

  &.selected {
    svg {
      fill: $color-dark;
    }
  }

  @at-root .no-touchevents &:hover {
    svg {
      fill: $color-dark;
    }
  }
}