.o-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center center;
  will-change: transform, width;
}

.o-image-double {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  will-change: transform, width;

  &__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    z-index: 0;
  }

  &__inner {
    background-size: cover;
    background-position: center center;
    width: 60%;
    max-width: 500px;
    will-change: transform, width;
    z-index: 1;

    &::before {
      content: "";
      display: block;
      position: relative;
      width: 100%;
      padding-bottom: 150%;
    }
  }
}