.c-info-blocks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;

  @include mq(md) {
    padding: 5rem;
    flex-flow: row;
  }
}

.c-info-block {
  position: relative;
  flex: 0 1 auto;
  width: 100%;
  text-align: center;
  background: $color-light-grey;
  padding: $standard-margin-mobile;

  @include mq(md) {
    width: 50%;
    padding: $large-margin;
    margin: $large-margin;
    max-width: 560px;
  }

  &__link {
    @at-root .no-touchevents &:hover {
      .c-info-block__image img {
        transform: scale(1.02, 1.02);
      }
    }
  }

  &__subtitle {
    text-align: center;
    height: $large-margin;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: $font-family-sans;
    font-size: font-size(18);

    @include mq(md) {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      font-size: font-size(m);
    }
  }

  &__title {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-light;
  }

  figcaption {
    height: $large-margin;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-warm-grey;

    @include mq(md) {
      font-size: font-size(s);
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  &__image {
    position: relative;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;

    @include mq(md) {
      width: 100%;
    }

    img {
      display: block;
      width: 100%;
      transform: scale(1, 1);
      transform-origin: 0 50%;
      transition: all 0.55s ease-out;
    }
  }
}