input[type="text"],
input[type="email"],
.o-input {
  width: 100%;
  background: $color-light-grey;
  font-size: font-size(s);
  padding: 20px;
  margin: 20px 0;
  border: 0;
  border-radius: 0;
  letter-spacing: 0.5px;
  outline: none;
}

input[type="text"].o-input--bordered,
input[type="email"].o-input--bordered  {
  background: transparent;
  border: 1px solid black;
}