.c-instagram-layer {
  position: fixed;
  background: $color-light-grey;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: z-index(modal);

  opacity: 0;
  visibility: hidden;

  &__header {
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    padding: $standard-margin-mobile;

    @include mq(md) {
      padding: $standard-margin;
      position: absolute;
    }
  }

  &__link {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    padding: $standard-margin-mobile;

    @include mq(md) {
      right: 0;
      padding: 0;
      bottom: auto;
      text-align: center;
    }
  }

  &__profile {
    display: flex;
    align-items: center;

    a {
      display: none;

      &::after {
        content: none;
      }

      @include mq(md) {
        display: block;
        font-family: $font-family-serif;
        font-size: font-size(20);
        letter-spacing: 0.5px;
        font-weight: 400;
      }
    }

    img {
      width: 55px;
      display: block;
      border-radius: 50%;

      @include mq(md) {
        margin: $mini-margin;
      }
    }
  }

  &__content {
    width: 70%;
    display: flex;
    padding-bottom: 95px;
    margin: 0 auto;

    @include mq(md) {
      width: 50%;
      padding: 0;
      margin: 15vh auto;
      overflow: hidden;
    }
  }

  &__picture {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;

    > div {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: 90%;
      height: 90%;
      background-size: cover;
      background-position: center center;
    }

    @include mq(md) {
      width: 33.33%;
    }

    &::before {
      content: "";
      display: block;
      width: 100%;
      padding-bottom: 100%;
    }
  }

  &__controls {
    display: none;

    @include mq(md) {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 60%;
      height: 35px;
      z-index: 2;
      visibility: hidden;
      justify-content: space-between;
      display: flex;
      margin: auto;
    }

    button {
      border-radius: 50%;
      width: 50px;
      height: 50px;
      visibility: visible;
      background: transparent;
      cursor: pointer;
      border: 0;
      padding: 0;
      outline: 0;
    }
  }
}