.c-languages {
  text-align: center;
  padding-top: 100px;

  @include mq(md) {
    position: relative;
    width: 70vw;
    overflow: visible;
    padding: 0;
  }

  strong {
    display: block;
    text-transform: uppercase;
    font-size: font-size(s);
    margin: $standard-margin 0;
  }

  &__languages {
    ul {
      list-style: none;
      display: flex;
      flex-flow: column;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 0;

      @include mq(md) {
        flex-flow: row;
      }
    }

    li {
      margin: $mini-margin;
    }
  }

  &__trigger {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: 100%;
    margin-top: $standard-margin;
    z-index: 2;
  }

  &__close {
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 2;
  }

  [data-trigger-countries] {
    opacity: 0;
    visibility: hidden;

    &.is-visible {
      opacity: 1;
      visibility: visible;
    }
  }

  &__countries {
    margin: 0 auto;
    font-size: font-size(s);

    @include mq(md) {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      opacity: 0;
      visibility: hidden;
    }

    &-wrapper {
      display: flex;
      flex-wrap: wrap;
      text-align: left;
      width: 100%;

      > div {
        padding: 30px;

        &.europe {
          width: 100%;
        }
      }
    }


    ul {
      padding: 0;
      list-style: none;
      display: grid;
      grid-auto-flow: column;
      color: $color-warm-grey;

      @include mq(md) {
        grid-gap: 10px 30px;
        grid-template-rows: repeat(5, auto);
        grid-template-columns: repeat( auto-fit, minmax(1fr, 1fr) );
      }
    }
  }
}