/* ==========================================================================

  Template Module
  ====

  A description

  ```
  <a class="c-button">
    <span>
      discover more
    </span>
  </a>
  ```
========================================================================== */

.o-button,
.o-button:visited {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  padding: 0;
  border: 0;
  outline: 0;
  font-family: $font-family-sans;
  letter-spacing: 1.4px;
  cursor: pointer;
  font-weight: 600;
  font-size: font-size(13);
  transition: all 0.3s ease-out;
  text-decoration: none;

  color: $color-dark;
  background: transparent;

  @include mq(md) {
    font-size: font-size(s);
  }

  &:focus {
    outline: 0;
  }

  &.disabled {
    // color: $color-warm-grey;
    pointer-events: none;
  }

  span {
    position: relative;
    display: block;
    padding: 20px 25px;
    border: 1px solid rgba($color-dark, 0.25);

    // &::after,
    // &::before {
    //   @include boost-performance();
    //   content: "";
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   right: 0;
    //   width: 100%;
    //   height: 1px;
    //   transition: all 0.3s ease-out;
    //   background: rgba($color-dark, 0.25);
    // }

    // &::before {
    //   top: auto;
    //   bottom: 0;
    // }
  }

  // &::after,
  // &::before {
  //   content: "";
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 1px;
  //   height: 100%;
  //   background: rgba($color-dark, 0.25);
  //   transition: all 0.3s ease-out;
  // }

  // &::before {
  //   left: auto;
  //   right: 0;
  // }

  @at-root .no-touchevents &:hover {
    background: rgba($color-dark, 1);
    color: $color-light;

    &::after,
    &::before {
      opacity: 1;
    }

    span {
      &::after,
      &::before {
        opacity: 1;
      }
    }
  }
}

/* ==========================================================================

   ### Sub section comment

   ```
   <div class="module--modifier">HTML template</div>
   ```
========================================================================== */

.o-button--filled,
.o-button--filled:visited {
  background: $color-dark;
  color: $color-light;

  @at-root .no-touchevents &:hover {
    background: rgba($color-dark, 0);
    color: $color-dark;
  }
}

/* ==========================================================================

   ### Sub section comment

   ```
   <div class="module--modifier">HTML template</div>
   ```
========================================================================== */

.o-button--light,
.o-button--light:visited {
  color: $color-light;

  span {
    border: 1px solid rgba($color-light, 0.25);
  }

  &::after,
  &::before,
  span::after,
  span::before, {
  background: rgba($color-light, 0.5);
  }

  @at-root .no-touchevents &:hover {
    background: rgba($color-light, 1);
    color: $color-dark;

    &::after,
    &::before,
    span::after,
    span::before {
      background: $color-light;
    }
  }

  &.o-button--filled {
    background: $color-light;
    color: $color-dark;

    @at-root .no-touchevents &:hover {
      background: rgba($color-light, 0.5);
      color: $color-dark;
    }
  }
}


/* ==========================================================================

   ### Sub section comment

   ```
   <div class="module--modifier">HTML template</div>
   ```
========================================================================== */

.o-button--facebook {
  color: #6979b0;
  background: $color-light;

  svg {
    width: 15px;
    height: 15px;
    margin: 0 5px;
    fill: #6979b0;
  }

  &::after,
  &::before,
  span::after,
  span::before, {
    background:  rgba(#6979b0, 0.25);
  }

  @at-root .no-touchevents &:hover {
    background: rgba($color-light, 0);
    color: $color-dark;

    &::after,
    &::before,
    span::after,
    span::before {
      background: $color-dark;
    }
  }
}