.o-link,
a:not([class]) {
  position: relative;
  display: inline-block;
  letter-spacing: 0.5px;
  color: $color-dark;
  text-decoration: none;
  font-size: font-size(13);
  font-weight: 500;
  transition: all 0.3s ease-out;
  padding: 2px 0;
  background: transparent;
  border: none;
  cursor: pointer;

  // display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 0;
  outline: none;

  @include mq(md) {
    font-size: font-size(s);
  }

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
    margin: auto;
    background: $color-dark;
    transition: all 0.65s cubic-bezier(0.075, 0.82, 0.165, 1);
    transform-origin: 0 0;
    transform: scale(1, 1);
  }

  &::before {
    transition: all 0.65s cubic-bezier(0.075, 0.82, 0.165, 1) 0.1s;
    transform-origin: 100% 0;
    transform: scale(0, 1);
  }

  @at-root .no-touchevents &:hover,
  &.is-active {
    color: $color-warm-grey;

    &::after {
        transform: scale(0, 1)
    }

    &::before {
      background: $color-warm-grey;
      transform: scale(0.5, 1)
  }
  }
}

.o-link--light {
  color: $color-light;

  &:visited {
    color: $color-light;
  }

  &::before,
  &::after {
    background: $color-light;
  }
}

.o-link--center {
  &::before {
    transform-origin: 50% 50%;
  }
}

.o-link--no-line {
  &::after {
    display: none;
  }
}

.o-link--menu {
  font-family: $font-family-serif;
  font-weight: 400;
  font-size: font-size(25);

  &::after {
    display: none;
  }

  @include mq(md) {
    margin: 10px 0;
    font-size: font-size(ll);
  }
}