$figcaption-height: 100px;


.c-listing-category {
  display: flex;
  height: 100%;
  align-items: center;
  grid-column-start: 1;
  padding: 5px;

  h4 {
    width: 50%;
    font-size: font-size(35);
  }
}

.c-listing-banner {
  position: relative;
  overflow: hidden;
  padding: 5px;
  margin-bottom: $standard-margin;

  a {
    display: block;
    width: 100%;
    height: 100%;
  }

  @include mq($until:sm) {
    display: none;
  }

  figure {
    width: 100%;
    height: 100%;
    padding-bottom: $figcaption-height;
    overflow: hidden;
  }

  figcaption {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-bottom: $figcaption-height;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    color: $color-light;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: $figcaption-height;
      margin: 5px;
      padding: 5px;
      background: $color-light;
    }

    strong {
      margin-top: $mini-margin;
      text-transform: uppercase;
      font-size: font-size(s)
    }
  }

  @at-root .no-touchevents &:hover {
    .background {
      transform: scale(1.02, 1.02)
    }
  }

  .background {
    @include boost-performance();
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    z-index: 0;
    transform: scale(1, 1);
    transform-origin: 0 50%;
    transition: all 0.55s ease-out;
  }
}