.c-logo {
  position: absolute;
  right: 0;
  left: 0;
  display: block;
  margin: 0 auto;
  z-index: 2;
  width: 160px;
  fill: $color-dark;

  @include mq(md) {
    width: 160px;
  }

  @include mq(lg) {
    width: 210px;
  }

  img,
  svg {
    display: block;
    width: 100%;
  }

  @at-root .is-header-light & {
    fill: $color-light;
  }
}