.c-menu-banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: font-size(15);
  margin: 20px 0;

  @include mq(md) {
    font-size: font-size(18);
    margin: 0 $standard-margin;
  }

  @at-root .no-touchevents &:hover {
    img {
      transform: scale(1.02, 1.02);
    }
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    transition: all 0.45s ease-out;
    opacity: 0;
  }

  figure {
    margin: 0;
    overflow: hidden;
  }

  figcaption {
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: 500;
    text-transform: uppercase;

    @include mq(md) {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      font-weight: 400;
      text-transform: inherit;
      margin: $mini-margin auto;
      color: $color-light;
    }
  }

  img {
    display: none;

    @include mq(md) {
      display: block;
      width: 260px;
      transform-origin: 0 50%;
      transition: all 1s ease-out;
    }
  }

  &--vertical {
    figcaption {
      @include mq(md) {
        position: absolute;
        top: 100%;
        bottom: auto;
        color: $color-dark;
      }
    }
  }
}