.c-menu-block {
  text-align: left;
  display: flex;
  flex-flow: column;
  justify-content: center;
  list-style: none;
  margin: 20px 0;
  text-align: center;

  @include mq(md) {
    padding: 0 $standard-margin;
    text-align: left;
  }

  &__category {
    position: relative;
    text-decoration: none;
    color: $color-dark;
    font-family: $font-family-sans;
    font-size: font-size(15);
    padding: 5px;
    font-weight: 500;

    @include mq(md) {
      font-weight: 400;
      font-size: font-size(l);
      font-family: $font-family-serif;
      margin-bottom: $small-margin;
      padding: 0;
    }
  }

  &__wrapper {
    overflow: hidden;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: $small-margin-mobile;
    text-transform: uppercase;
    font-size: font-size(13);

    @include mq(md) {
      margin: 0;

      li {
        font-size: font-size(m);
        display: block;
        padding: 8px 0;
      }
    }


    a {
      font-weight: 400;

      &::after {
        display: none;
      }
    }
  }

  &--large {
    @include mq(md) {
      padding-right: 10vw;

      .c-menu-block__list {
        display: block;
        column-gap: 100px;
        column-count: 2;
      }
    }
  }
}