.c-menu-boutiques {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    padding-top: 100px;

    @include mq(md) {
      text-align: left;
      columns: 4;
      column-gap: $large-margin * 1.5;
      padding: 0;
    }
  }

  li {
    position: relative;
    display: block;
    align-items: center;
    margin: $mini-margin 0;

    @include mq(md) {
      margin: 20px 0;
    }

    &::before {
      content: attr(data-count);
      position: absolute;
      top: 50%;
      right: 100%;
      display: block;
      color: $color-warm-grey;
      transform: translate3d(0, -50%, 0);
      font-size: font-size(s);
      margin: auto 20px;
    }
  }
}

.boutiques-background {
  @include boost-performance();
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  z-index: z-index(behind);
  filter: grayscale(100) opacity(0.2);
  will-change: transform, opacity;

  visibility: hidden;
  opacity: 0;
  transform: scale(1.2, 1.2);
}