.c-nav-mobile {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $color-light;
  color: $color-dark;
  z-index: z-index(menu-mobile);

  overflow: scroll;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  display: none;

  &.is-open {
    display: block;
    pointer-events: all;
  }

  &__close {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 23;
    margin: $mini-margin;
  }

  &__search {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    margin: $mini-margin;
  }

  @include mq(md) {
    display: none;
  }

  .dropdown-arrow {
    position: absolute;
    right: 0;
    width: 15px;
    height: 15px;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    width: 100%;
    height: 30%;
    z-index: 2;
    pointer-events: none;
    background: linear-gradient(to top, rgba(white, 0.0), rgba(white, 1));
  }

  &__signin a {
    font-size: font-size(m);

    &::after {
      display: none;
    }
  }

  &__search {
    padding: 0;
    .o-icon {
      padding: 0;
    }
  }

  &__title {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: $small-margin-mobile;
    font-size: font-size(13);
    letter-spacing: 0.5px;
    min-height: 20px;
  }

  &__secondary {
    margin-top: 20px;
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: font-size(13);

    button {
      background: none;
      border: 0;
      margin: 10px 0;
      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 0.5px;

      span {
        font-weight: 600;
      }
    }
  }

  &__overflow {
    display: block;
  }

  &__header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: $mini-margin;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
  }

  &__panel-close {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 6;
    margin: $mini-margin;
    border: none;
    background: transparent;
    padding: 0;
  }

  .c-nav {
    position: relative;
    z-index: 1;
    padding: 100px 20px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    &__voice {
      color: $color-dark;
    }

    &__menu {
      flex-flow: column;
      text-align: center;
      list-style: none;

      li {
        margin: 12px 0;
      }
    }
  }

  .c-nav__aligner {
    flex-flow: column;
    width: 100%;
  }

  .c-nav-wrapper {
    position: relative;
  }
}