.c-mood-block {
  position: relative;
  background: $color-light;
  display: flex;
  flex-wrap: wrap;

  @include mq(md) {
    flex-wrap: nowrap;
  }


  &__back {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex: 0 0 auto;
    background-size: cover;
    background-position: center center;

    @include mq(md) {
      width: 50%;
    }

    &::before {
      content: "";
      width: 100%;
      padding-bottom: 133%;
      display: block;
    }
  }

  &__products {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: $mini-margin;
  }

  &__product {
    display: flex;
    width: 100%;
    flex: 0 0 auto;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    font-size: font-size(s);

    @include mq(md) {
      width: 50%;
    }

    h3 {
      font-size: font-size(s);
      font-family: $font-family-sans;
      text-transform: uppercase;
      margin: $mini-margin 0;
    }

    img {
      width: 90%;
    }
  }
}

.c-mood-block--invert.c-mood-block {
  @include mq(md) {
    flex-flow: row-reverse;
  }
}