.c-multi-carousel {
  position: relative;
  // height: 90vh;
  background: $color-light-grey;
  text-align: center;
  padding: 3rem;
  overflow: hidden;

  @include mq(md) {
    padding: 5rem;
  }

  &__title {
    position: relative;
    z-index: 2;
  }

  &__wrapper {
    // position: absolute;
    // left: 0;
    // top: 0;
    // bottom: 0;
    // right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;

    @include mq(md) {
      padding: 5rem;
    }
  }

  &__controls {
    visibility: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto 3rem;
    height: 35px;
    z-index: 2;
    justify-content: space-between;
    display: none;
    
    @include mq(md) {
      display: flex;
      margin: auto 8rem;
    }

    button {
      background: rgba($color-dark, 0.1);
      border-radius: 50%;
      width: 50px;
      height: 50px;
      visibility: visible;
      cursor: pointer;
      border: 0;
      padding: 0;
      outline: 0;

      .o-icon {
        stroke: white;
      }
    }
  }

  .c-dots {
    left: 0;
    align-items: center;
    justify-content: center;
  }
}

.c-multi-carousel__slide {
  flex: 0 0 100%;
  width: 100%;
  text-decoration: none;
  cursor: pointer;

  &:visited {
    color: $color-dark;
  }

  @include mq(md) {
    flex: 0 0 33.33%;
    width: 33.33%;
  }

  h4 {
    margin-bottom: $mini-margin;
  }

  h4,
  strong {
    font-family: $font-family-sans;
    font-size: font-size(s);
    text-transform: uppercase;
  }

  @at-root .no-touchevents &:hover {
    .inner-image {
      opacity: 0.7;
    }
  }

  .inner-image {
    display: block;
    width: 100%;
    max-width: 360px;
    margin: 0 auto;
    opacity: 1;
    z-index: 0;
    transition: all 0.8s linear;
  }
}