.c-nav {
  display: none;

  @include mq(md) {
    padding: 5px;
    visibility: hidden;
    opacity: 0;
    padding: 10px;
    visibility: visible;
    opacity: 1;
    display: block;

    .dropdown-arrow {
      display: none;
    }
  }

  @include mq(lg) {
    padding: $mini-margin;
  }
}

.c-nav__aligner {
  display: flex;
}

.c-nav__menu {
  padding: 0;

  @include mq(md) {
    display: flex;
    list-style: none;
    margin: 0;
    flex-flow: row nowrap;

    > li {
      display: flex;
      align-items: center;
    }
  }
}

.c-nav__voice {
  text-align: center;

  @include mq(md) {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    padding: 5px;
    z-index: 3;
    text-transform: uppercase;
    text-decoration: none;
    color: $color-dark;

    .o-icon {
      fill: $color-dark;
      padding: 0;
      width: 20px;
      height: 20px;
    }
  }

  @at-root .is-header-light & {
    color: $color-light;

    .o-icon {
      fill: $color-light;
    }
  }

  h3 {
    font-family: $font-family-sans;
    text-decoration: none;
    font-size: font-size(20);
    text-transform: uppercase;
    padding: 5px;

    @include mq(md) {
      padding: 0;
      letter-spacing: 1px;
      font-size: font-size(xs);
      text-transform: inherit;
    }
  }
}

.c-nav-wrapper {
  overflow: hidden;

  @include mq(md) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 85%;
    z-index: -1;
    margin: 0;
    background: $color-light;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-origin: 50% 0;
    will-change: transform;

    opacity: 0;
    visibility: hidden;

    &.is-active {
      opacity: 1;
      visibility: visible;
    }
  }
}

.c-nav__container {
  margin: 20px 0;

  > div {
    order: 0;

    &:nth-child(3) {
      order: 4;
    }

    &:nth-child(4) {
      order: 3;
    }
  }

  @include mq(md) {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    will-change: transform;

    .c-nav__banner {
      display: flex;
    }
  }
}


.c-nav-wrapper.c-nav-wrapper--search {
  display: block;
  // padding-top: 30vh;

  @include mq(md) {
    .c-nav__container {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding-top: 30vh;
      padding-bottom: 10vh;
      overflow-y: scroll;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background: white;
      width: 100%;
      height: 30%;
      z-index: 20;
      background: linear-gradient(to top, rgba(white, 0.0), rgba(white, 1));
    }
  }
}