.c-need-help {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 2;

  transition: all 0.4s ease-out;
  opacity: 0;
  visibility: hidden;

  @include mq(md) {
    opacity: 1;
    visibility: visible;
  }

  &.is-visible {
    opacity: 1;
    visibility: visible;
  }

  &__cta {
    position: relative;
    color: $color-dark;
    background: $color-light;
    padding: 15px 20px;
    letter-spacing: 0.5px;
    border: 0;
    font-weight: 500;
    font-size: font-size(s);
    cursor: pointer;
    z-index: 2;
    outline: none;
    text-transform: uppercase;

    &:focus {
      outline: none;
    }

    @include mq(md) {
      margin: $standard-margin;
      padding: 10px $mini-margin;
    }
  }

  &__tab {
    position: fixed;
    bottom: 0;
    right: 0;
    background: white;
    margin: $standard-margin;
    max-width: 320px;
    display: flex;
    flex-flow: column;

    opacity: 0;
    visibility: hidden;

    > div {
      padding: $standard-margin;
    }

    p {
      color: $color-warm-grey;
      margin-bottom: $standard-margin;
    }
  }

  &__phone {
    margin-bottom: $standard-margin;

    span {
      display: block;
      margin-bottom: $mini-margin;
    }

    a {
      font-weight: 600;
      font-size: font-size(m);

      &::after {
        display: none;
      }
    }
  }

  .c-close-button {
    position: absolute;
    right: 0;
    top: 0;
    margin: $mini-margin;
  }

  .o-button {
    margin-top: $mini-margin;
  }

  &__title {
    display: block;
    font-weight: font-weight(bold);
    font-size: font-size(l);
    padding-bottom: $standard-margin;
  }
}