.c-newsletter {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;

  z-index: z-index(modal);
  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  overflow: scroll;

  @include mq(md) {
    width: 50%;
    max-width: 900px;
    overflow: hidden;
  }

  &.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  &__col {
    overflow: hidden;
    flex: 0 0 auto;

    @include mq(md) {
      width: 50%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__wrapper {
    position: relative;
    background: white;
    margin: auto;
    display: flex;
    flex-flow: column;

    @include mq(md) {
      flex-flow: row;
    }
  }

  &__content {
    flex: 0 0 auto;
    padding: $standard-margin;
    display: flex;
    flex-flow: column wrap;

    @include mq(md) {
      width: 50%;
    }
  }

  &__caption {
    margin: $small-margin 0;
  }

  &__privacy {
    font-size: font-size(10);
    color: $color-warm-grey;
  }

  .c-close-button--newsletter {
    align-self: flex-end;
    margin-bottom: $standard-margin;
  }
}