.c-options-quick-buy {
  display: flex;
  margin-bottom: 20px;
  align-items: center;

  span {
    display: inline-block;
    width: 25%;
    flex: 0 0 auto;
    font-size: font-size(s);
    padding: 5px 0;
  }

  &__list {
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
  }

  .o-radio {
    margin: 0 5px;
  }
}

.c-options-product {
  position: relative;
  display: block;
  text-align: left;

  &__sizes {
    display: flex;
    align-items: center;
    text-transform: uppercase;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @include mq(md) {
      padding-bottom: $mini-margin;
    }
  }

  &__label {
    margin: 0;
    padding: $mini-margin-mobile 0;
    font-size: font-size(s);

    @include mq(md) {
      padding: 0;
      padding-bottom: 20px;
    }
  }

  &__colors {
    display: none;

    @include mq(md) {
      position: relative;
      font-size: font-size(s);
      // text-transform: uppercase;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 400;
    }
  }

  &__list {
    display: flex;
    flex-flow: row wrap;
    padding: 0;
    margin-left: -5px;
    margin-right: -5px;
  }

  &__option  {
    margin: 0 5px;
  }

  span {
    padding: $mini-margin 0;
    font-size: font-size(s);

  }
}