.c-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: z-index(modal);
  width: 100%;
  height: 100%;

  pointer-events: none;
  display: none;


  &__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: scroll;

    @include mq(md) {
      overflow: hidden;
    }
  }

  &.is-open {
    pointer-events: all;
    display: block;
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    z-index: 4;
    margin: $standard-margin-mobile;

    @include mq(md) {
      margin: $standard-margin;
    }
  }
}

.c-overlay--quick-buy {
  width: 100%;

  .c-overlay__wrapper {
    background: $color-light-grey;
  }

  @include mq(md) {
    width: 50%;

    .c-overlay__close {
      right: 0;
    }
  }
}

.c-overlay--video {
  @include boost-performance();

  .c-overlay__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10vh 10vw;
    visibility: hidden;
  }

  .c-overlay__close {
    position: absolute !important;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    color: white;
    cursor: pointer;
    z-index: 0;
    margin: 0;

    .c-close-button {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  @include mq(md) {
  }
}