.c-panel {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: z-index(modal);

  opacity: 0;
  visibility: hidden;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;

  background: $color-light;

  [data-panel-wrapper] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    // overflow: scroll;
  }
}