.c-press {
  cursor: pointer;
  text-align: center;

  &__title {
    margin: $mini-margin-mobile;
    margin-top: $standard-margin-mobile;

    @include mq(md) {
      margin: $mini-margin;
      margin-top: $standard-margin;
      font-size: font-size(ll);
    }

    span {
      font-style: italic;

      &::before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 1px;
        margin: 5px;
        background: $color-dark;
      }
    }
  }

  &__image {
    display: block;
    width: 100%;
    filter: grayscale(100);
    transition: all 0.6s ease-out;
  }

  @at-root .no-touchevents &:hover {
    .c-press__image {
      filter: grayscale(0);
    }
  }
}