.c-product-card {
  position: relative;
  cursor: pointer;

  // height: 100%;
  padding: 5px;

  del {
    font-weight: 400;
    margin-right: 5px;
    color: $color-warm-grey;
  }

  &__caption {
    position: relative;
    margin-bottom: 5px;
    overflow: hidden;
  }

  &__title {
    transition: all 0.45s ease-in-out;
    display: inline-block;
  }

  &__hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    opacity: 0;
    display: inline-block;
    visibility: hidden;
    transition: all 0.45s ease-in-out;
    // transform: translate3d(100%, 0, 0);
  }

  figcaption {
    display: flex;
    justify-content: center;
    flex-flow: column;

    margin-bottom: $standard-margin-mobile;
    height: $figcaption-height;

    text-transform: uppercase;
    font-size: font-size(s);

    @include mq(md) {
      margin: 0 $mini-margin;
      margin-bottom: $standard-margin;
      font-size: font-size(s);
    }
  }

  &__image {
    position: relative;
    padding: 20px;
    background: $color-light-grey;
    overflow: hidden;
    cursor: pointer;

    .c-product-card__hover {
      padding: 20px;
    }

    img {
      display: block;
      width: 100%;
      transition: all 1s ease-out;
      transform-origin: 0 50%;
    }
  }

  @at-root .no-touchevents &:hover {
    .c-product-card__title {
      opacity: 0;
      visibility: hidden;
      // transform: translate3d(-100%, 0, 0)
    }

    .c-product-card__hover {
      opacity: 1;
      visibility: visible;
      // transform: translate3d(0, 0, 0)
    }
  }
}

.c-product-card--center.c-product-card {
  text-align: center;

  .c-product-card__hover {
    right: 0;
    margin: auto;
  }
}

.c-product-card--center.c-product-card {
  .c-product-card__image {
    background: transparent;
  }
}