.c-product-carousel {
  position: relative;
  height: 50%;
  width: 100%;

  &__wrapper {
    position: relative;
    height: 100%;
    width: 100%;
  }

  &__image {
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
    height: 100%;
    width: auto;
    will-change: transform, opacity;

    opacity: 0;
    visibility: hidden;
  }
}

.c-product-carousel__controls {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: calc(55% + 100px);
  width: 80%;
  height: 30px;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  visibility: hidden;

  svg {
    visibility: visible;
  }
}