.c-quick-product {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  padding: $standard-margin-mobile;

  @include mq(md) {
    justify-content: center;
    padding: $standard-margin;
  }

  &__cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: $small-margin;
  }

  &__info {
    @extend %typography;
    border-top: 1px solid lighten($color-warm-grey, 20);
    padding: $standard-margin-mobile 0;
    font-size: font-size(s);

    h3 {
      font-size: font-size(22);
    }

    strong {
      margin-bottom: 10px;
    }

    @include mq(md) {
      display: none;
    }
  }

  &__details {
    width: 100%;
    position: relative;
    border-top: 1px solid lighten($color-warm-grey, 20);
    flex-flow: column;
    padding: 20px 0;

    @include mq(md) {
      display: flex;
      width: 90%;
      flex-flow: row;
      padding: 0;
    }

    > div {
      position: relative;
      width: 100%;
      flex: 0 0 auto;
      text-align: left;

      @include mq(md) {
        width: 50%;
        padding: $small-margin;
      }
    }

    @include mq(md) {
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 1px;
        height: 25%;
        background: lighten($color-warm-grey, 20);
      }
    }

    .u-link-align {
      position: absolute;
      top: 0;
      right: 0;

      @include mq(md) {
        top: auto;
        right: auto;
        left: 0;
        bottom: 0;
        margin: 45px $small-margin;
      }
    }

    strong {
      display: block;
      margin-bottom: $standard-margin-mobile;
      @include mq(md) {
        margin-bottom: $standard-margin;
      }
    }

    h4 {
      font-family: $font-family-sans;
      text-transform: uppercase;
      font-size: font-size(m);
      margin-bottom: 5px;

      @include mq(md) {
        margin-bottom: $mini-margin;
      }
    }
  }
}