/* ==========================================================================
  Template Module
  ====

  A description

  ```
  <div class="module">HTML template</div>
  ```
========================================================================== */

.c-quick-buy {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-flow: column;

  @include mq(md) {
    flex-flow: row;
  }

  &__container {
    width: 60%;
    flex: 0 0 auto;
    position: relative;
    display: flex;
    margin: $large-margin-mobile auto;

    @include mq(md) {
      width: 50%;
      overflow: hidden;
    }

    // &::before {
    //   content: "";
    //   width: 100%;
    //   padding-bottom: 133%;
    //   display: block;
    // }
  }

  &__side {
    position: relative;
    flex: 0 0 auto;
    width: 100%;

    &::before {
      content: "";
      width: 100%;
      padding-bottom: 133%;
      display: block;
    }

    @include mq(md) {
      width: 50%;
    }
  }

  &__slide {
    width: 100%;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $small-margin-mobile;
  }

  &__text {
    text-align: center;
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: $standard-margin-mobile;

    strong {
      font-size: font-size(s);
      margin: $small-margin 0;
    }

    h4 {
      font-size: font-size(ll);
      font-family: $font-family-serif;
      margin: $small-margin 0;
    }
  }

  &__wrapper {
    width: 100%;
    overflow: hidden;

    .inner-image {
      display: block;
      width: 100%;
      margin: 0 auto;
      // width: 50%;
      // max-width: 450px;

      @include mq(md) {
        width: 40%;
      }
    }
  }

  &__controls  {
    display: none;

    @include mq(md) {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      width: calc(45% + 100px);
      height: 30px;
      z-index: 3;
      display: flex;
      justify-content: space-between;
    }
  }
}


.c-quick-buy--invert.c-quick-buy {
  flex-flow: column-reverse;

  .c-quick-panels {
    &__close  {
      left: 0;
      right: auto;
    }
  }

  @include mq(md) {
    flex-flow: row-reverse;
  }
}


.c-quick-buy--mood.c-quick-buy {
  .c-quick-buy__controls  {
    top: auto;
    left: 0;
    right: auto;
    margin: auto;
    width: auto;
    width: 50%;
    z-index: 2;
    justify-content: flex-end;
    display: none;
    visibility: hidden;

    @include mq(md) {
      display: flex;
      padding: 5rem;
    }

    .o-icon {
      margin-left: $small-margin;
      cursor: pointer;
      visibility: visible;
    }
  }

  &.c-quick-buy--invert {
    .c-quick-buy__controls  {
      right: 0;
      left: auto;
    }
  }

  .c-quick-buy__text {
    position: relative;
    top: auto;
    left: auto;
    right: auto;
    text-align: left;
    align-items: flex-start;
    padding: 0;
    margin: $standard-margin-mobile;

    @include mq(md) {
      width: 40%;
      margin: 0 auto;
    }

    h4 {
      margin: $mini-margin 0;
    }
  }

}

.c-quick-buy__slide.c-quick-buy__slide--image {
  h4 {
    font-size: font-size(s);
    font-family: $font-family-sans;
    text-transform: uppercase;
  }
}

.c-quick-buy__slide.c-quick-buy__slide--text {
  strong {
    font-weight: 400;
    margin-bottom: $standard-margin;
  }
}