.o-radio {
  position: relative;
  list-style: none;
  margin: 5px;
  cursor: pointer;

  @include mq(md) {
    margin: $mini-margin 5px;
  }

  @at-root .no-touchevents &:hover,
  &.selected .label-text {
    &::after {
      transform: scaleX(1)
    }
  }

  @at-root .no-touchevents &:hover,
  &.selected .label-image {
    &::after {
      transform: scale(1)
    }
  }

  &.disabled .label-text {
    color: $color-warm-grey;
  }

  .label-image {
    position: relative;
    display: inline-block;
    // margin: 5px;
    width: 25px;
    padding: 0;

    img {
      display: block;
      width: 100%;
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: -5px;
      right: 0;
      left: 0;
      margin: auto;
      background: $color-dark;
      transform-origin: 0 0;
      transform: scale(0);
      transition: all 0.35s ease-out;
      z-index: -1;
    }
  }

  .label-text {
    display: block;
    position: relative;
    color: $color-dark;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    // margin: 5px;
    font-size: font-size(s);
    padding: 0;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 1px;
      background: $color-dark;
      transform-origin: 0 0;
      transition: all 0.35s ease-out;
      transform: scaleX(0)
    }
  }
}
