.c-related {
  position: relative;
  z-index: 2;
  top: 100%;
  width: 100%;
  background: $color-light;
  z-index: 10;
  overflow: hidden;
  padding: 2rem;

  display: flex;
  align-items: center;
  flex-flow: column;
  justify-content: center;

  .c-dots {
    left: 0;
    justify-content: center;
  }

  @include mq(md) {
    padding: $large-margin;
  }

  &__title {
    font-size: font-size(l);
    padding: 20px;

    @include mq(md) {
      padding: 0;
      margin-bottom: $small-margin;
    }
  }

  &__wrapper {
    display: flex;
    flex-flow: row;
    align-items: center;
    width: 80%;
    padding-bottom: 20px;

    @include mq(md) {
      width: 100%;
      justify-content: center;
      padding: 0;
    }

  }

  &__product {
    display: block;
    padding: 20px;
    text-align: center;
    width: 100%;
    flex: 0 0 auto;

    text-transform: uppercase;
    font-size: font-size(s);

    @include mq(md) {
      width: 25%;
    }

    p {
      margin: $small-margin 0 5px 0;
    }

    img {
      display: block;
      width: 100%;
    }
  }
}