.c-scroll-line {
  display: none;

  &.is-animated {
    animation: scroll-line 1s cubic-bezier(.18,.76,.63,.64) alternate infinite;
  }

  @include mq(md) {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: $standard-margin-mobile auto;
    width: 1px;
    height: $scroll-line-size;
    background-color: $color-light;
    z-index: 6;
    transform-origin: 50% 100%;
    display: block;
    margin: $standard-margin auto;
  }
}


@keyframes scroll-line {
  0% {
    transform: scaleY(0)
  }

  80%,
  100% {
    transform: scaleY(1)
  }
}

.c-hero .is-top-hero .c-scroll-line {
  display: block;
}