.c-signup {
  display: flex;
  height: 100%;
  text-align: left;
  align-items: center;
  justify-content: center;
  padding-top: 100px;

  @include mq(md) {
    padding: 0;
  }

  h2 {
    display: none;

    @include mq(md) {
      font-size: font-size(48);
      display: block;
    }
  }

  &__newuser {
    margin-top: 15px;
  }

  &__col {
    width: 100%;
    display: flex;
    flex-flow: column;
    padding: $standard-margin-mobile;

    @include mq(md) {
      padding: $large-margin;
      width: 50%;
    }
  }

  &__remember {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: font-size(s);
  }

  &__list {
    margin: 58px 0;
    list-style: disc;

    li {
      margin: 2px 0;
    }
  }

  &__create-account {
    background: $color-light-grey;
    text-transform: uppercase;
    width: 100%;
    border: 0;
    padding: 20px;
    margin: 30px 0;
    font-family: $font-family-sans;
    letter-spacing: 1.4px;
    cursor: pointer;
    font-weight: 600;
    font-size: font-size(s);
  }

  &__alternative {
    position: relative;
    text-align: center;
    margin: 25px 0;

    span {
      position: relative;
      display: inline-block;
      padding: 0 20px;
      background: white;
      z-index: 1;
    }

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      width: 100%;
      height: 1px;
      z-index: 0;
      background: $color-warm-grey;
    }
  }
}