/* ==========================================================================
  Template Module
  ====

  A description

  ```
  <div class="module">HTML template</div>
  ```
========================================================================== */

.c-split-carousel {
  @extend %typography;

  position: relative;
  width: 100%;
  display: flex;
  flex-flow: column-reverse;
  background: $color-light;
  align-items: center;
  padding: $standard-margin-mobile;
  // height: 100vh;

  @include mq(md) {
    flex-flow: row;
    padding: 0;
    // height: 90vh;
  }

  &__container,
  &__images {
    position: relative;
    width: 100%;
    overflow: hidden;

    @include mq(md) {
      height: 100%;
    }
  }

  &__images {
    &::before {
      content: "";
      width: 100%;
      padding-bottom: 133%;
      display: block;
    }
  }

  &__slide {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    z-index: 0;
    padding: $standard-margin-mobile 0;

    @include mq(md) {
      align-items: center;
      padding: 4rem;
    }

    &.is-active {
      z-index: 1;
    }

    [data-enter] {
      will-change: opacity, transform;
      opacity: 0;
      visibility: hidden;
    }
  }

  &__wrapper {
    max-width: 400px;

    p {
      display: none;

      @include mq(md) {
        display: block;
      }
    }
  }

  &__image {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    will-change: transform, clip-path;

    &.is-active {
      z-index: 1;
    }
  }

  &__controls {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    z-index: 2;
    justify-content: flex-end;
    display: none;
    visibility: hidden;

    @include mq(md) {
      display: flex;
      padding: 5rem;
    }

    .o-icon {
      margin-left: $small-margin;
      cursor: pointer;
      visibility: visible;
    }
  }

  // .c-dots {
  //   top: 0;
  //   bottom: auto;
  //   padding: 4rem;
  //   margin: 0;
  // }
}

/* ==========================================================================
  ### Sub section comment

  ```
    <div class="module--modifier">HTML template</div>
  ```
========================================================================== */

.c-split-carousel--invert.c-split-carousel {
  flex-flow: column-reverse;

  @include mq(md) {
    flex-flow: row-reverse;
  }

  .c-split-carousel__controls {
    left: 50%;
  }
}

.c-split-carousel--mood.c-split-carousel {
  .c-split-carousel__slide--mood {
    h2 {
      text-transform: uppercase;
      font-size: font-size(18);
      font-family: $font-family-sans;
      margin: $mini-margin 0;
    }

    strong {
      font-weight: 500;
    }

    p {
      margin: $standard-margin 0;
    }
  }
}