/* ==========================================================================
  Template Module
  ====

  A description

  ```
  <div class="module">HTML template</div>
  ```
========================================================================== */

.c-static-block {
  @extend %typography;

  position: relative;
  background-size: cover;
  background-position: center center;
  width: 100%;
  flex: 0 0 auto;
  padding: $standard-margin-mobile;

  @include mq(md){
    width: 50%;
    padding: 0;

    strong,
    h2 {
      color: $color-light;
    }
  }

  // &::before {
  //   content: "";
  //   width: 100%;
  //   padding-bottom: 133%;
  //   display: block;
  // }

  .o-link {
    margin: 20px 0;
  }

  &__link {
    display: block;
    width: 100%;
    height: 100%;
    cursor: pointer;

    @include mq(md) {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        background: linear-gradient(to bottom, rgba(#000, 0.0) 40%, rgba(#000, 0.5));
        transition: all 0.45s ease-out;
        opacity: 0;
      }
    }

    .o-link {
      text-transform: uppercase;
    }

    @at-root .no-touchevents &:hover {
      &::after {
        opacity: 1;
      }
    }
  }

  &__bg {
    background-size: cover;
    background-position: center center;

    img {
      display: block;
      width: 100%;
    }
  }

  &__wrapper {
    display: block;
    padding: $standard-margin-mobile 0;
    z-index: 1;

    @include mq(md) {
      position: absolute;
      bottom: 0;
      padding: 5rem;
      width: 80%;
    }
  }
}