.c-tabs {
  margin: $standard-margin-mobile 0;

  @include mq(md) {
    margin: 0;
    margin-top: $standard-margin;
  }

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }

  li {
    margin: 0 $small-margin-mobile;

    @include mq(md) {
      margin-right: $small-margin;
    }
  }

  button {
    white-space: nowrap;
    cursor: pointer;
    font-size: font-size(s);
    text-transform: uppercase;
  }
}

.c-tabs-content {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: z-index(header) + 10;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  font-size: font-size(s);

  @include mq(md) {
    width: 40%;
    min-width: 750px;
  }

  .c-close-button {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    margin: $standard-margin-mobile;

    @include mq(md) {
      margin: $large-margin;
    }
  }

  &__wrapper {
    position: relative;
    background: $color-light;
    width: 100%;
    height: 100%;
    padding: 15vh $standard-margin-mobile;
    overflow: scroll;

    @include mq(md) {
      padding: 15vh $large-margin;
    }
  }

  &__list {
    list-style: none;
    display: flex;
    // justify-content: space-between;
    padding: 0;
    margin: 0;

    li {
      margin-right: $standard-margin;
    }
  }

  &__content {
    position: absolute;
    top: 20vh;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-flow: column;
    // justify-content: center;
    padding: $standard-margin-mobile;

    @include mq(md) {
      padding: $large-margin;
    }

    z-index: 0;
    pointer-events: none;

    strong {
      margin: $mini-margin 0;
    }

    p {
      line-height: 2;
      margin: $mini-margin 0;
    }
  }
}
