.c-text-search {
  width: 100%;
  margin: 0 auto;
  text-align: left;
  display: block;
  padding: $standard-margin-mobile;
  padding-top: 100px;

  @include mq(md) {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    width: 80vw;
    padding: 0;
    max-width: $container-width;
  }

  @include mq(md) {
    position: relative;
  }

  input[type="text"] {
    border: 0;
    outline: 0;
    font-size: font-size(xl);
    font-family: $font-family-serif;
    background: transparent;
    margin: 0;
    padding: 0;
    border: 0;
    letter-spacing: 0.5px;
  }

  &__count {
    display: flex;
    align-items: center;
    font-size: font-size(s);
    margin-bottom: $standard-margin;

    span {
      display: flex;
      align-items: center;
      font-weight: 600;

      &::before {
        content: "";
        display: inline-block;
        width: 30px;
        height: 1px;
        margin: 0 5px;
        background: $color-dark;
      }
    }
  }

  &__results {
    margin-top: 10vh;

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 0;

      @include mq(md) {
        margin-left: -$small-margin;
        margin-right: -$small-margin;
      }
    }

    li {
      display: flex;
      align-items: center;
      text-transform: uppercase;
      font-size: font-size(s);
      animation: show-search 0.8s ease-out;
      width: 100%;
      flex: 0 0 auto;

      @include mq(md) {
        padding: $small-margin;
        width: 33.33%;
      }

      img {
        display: block;
        height: 230px;
      }
    }
  }

}

@keyframes show-search {
  0% {
    opacity: 0;
    transform: translate3d(0, 20%, 0)
  }

  100% {
    opacity: 1;
    transform: translate3d(0, 0%, 0)
  }
}