.c-view-nav {
  position: sticky;
  top: 60px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  background: $color-light;
  font-size: font-size(s);
  overflow: scroll;

  transition: all 0.55s cubic-bezier(.7,.32,.52,.84);

  @include mq(md) {
    padding: 15px;
    top: 70px;
    overflow: visible;
  }

  &__breadcrumbs {
    position: absolute;
    left: 0;
    display: none;

    @include mq(md) {
      display: block;
    }
  }

  &__filters {
    position: absolute;
    right: 0;
    justify-content: flex-end;
    display: flex;
  }

  &__anchors {
    display: none;

    @include mq(md) {
      position: relative;
      right: 0;
      left: 0;
      margin: auto;
      text-transform: uppercase;
      padding: 15px;
      display: block;
    }

    ul {
      display: flex;
      list-style: none;
      margin: 0 auto;
      align-items: center;
      justify-content: center;
      padding: 0;

      li:first-of-type::after {
        display: none;
      }
    }

    li {
      position: relative;
      white-space: nowrap;
      margin: $mini-margin-mobile;

      @include mq(md) {
        margin: $mini-margin;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: -$mini-margin;
        display: block;
        height: 14px;
        width: 1px;
        margin: auto;
        background: rgba($color-warm-grey, 0.5);
      }
    }

    a,
    a:visited {
      @extend .o-link;

      &::after {
        display: none;
      }
    }
  }

  @at-root .is-header-hidden & {
    top: 0px;
  }
}