#zoom-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  display: none;
  pointer-events: none;

  img {
    cursor: url('../images/close-cursor.svg'), auto;
  }

  &.is-active {
    display: block;
    pointer-events: all;
  }

  .zoom-button {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;

    &--left {
      left: 0;
    }

    &--right {
      right: 0;
    }
  }
}