<aside class="c-gallery" data-panels="gallery">
  <div data-close="gallery" class="c-close-button c-close-button--gallery">
    <span></span>
    <span></span>
  </div>
  <div data-panel-inner></div>
  <div class="c-gallery__navigation">
    <div class="left">
      <button data-prev></button>
    </div>
    <div class="right">
      <button data-next></button>
    </div>
  </div>
</aside>