<div class="c-product-row" data-product>
  <div class="c-product-row__image">
    <img src="https://cdn.yoox.biz/12/12152256TU_10n_f.jpg">
  </div>
  <h4 class="c-product-row__title">Mia Mule</h4>
  <div class="c-product-row__color">
    <span class="c-product-row__label">color</span>
    <img src="./assets/images/rainbow.jpg" alt="">
    <strong>deep jade</strong>
  </div>
  <div class="c-product-row__size">
    <span class="c-product-row__label">size</span><strong>38</strong>
  </div>
  <div class="c-product-row__quantity">
    <span class="c-product-row__label">Quantity</span>
    <strong data-quantity>1</strong>
    <div class="c-product-row__increase">
      <button>-</button>
      <span>/</span>
      <button>+</button>
    </div>
  </div>
  <div class="c-product-row__price">EUR 245,98</div>
  <div class="c-product-row__removal">
    <button class="remove-product o-link">
      Remove
    </button>
  </div>
</div>