<svg class="svg-sprites" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">

  <symbol id="arrow-down" viewBox="0 0 10 6">
    <title>arrow-down</title><path d="M1 1l4 4 4-4" fill-rule="evenodd"></path>
  </symbol>

  <symbol id="arrow-left" viewBox="0 0 9 16">
    <title>arrow-right</title><path d="M7.774 1L1.278 8l6.496 7" fill-rule="evenodd"></path>
  </symbol>

  <symbol id="arrow-right" viewBox="0 0 9 16">
    <path d="M1.226 1l6.496 7-6.496 7"></path>
  </symbol>

  <symbol id="arrow-up" viewBox="0 0 10 6">
    <title>arrow-down</title><path d="M1 5l4-4 4 4" fill-rule="evenodd"></path>
  </symbol>

  <symbol id="bag" viewBox="0 0 40 40">
    <path id="bag" d="M30.2 34.2H9.8V14.4h4v3h1.7v-3h9v3h1.7v-3h4v19.8zM15.5 10.1c0-2.4 2-4.4 4.5-4.4s4.5 2 4.5 4.4v2.6h-9v-2.6zm10.7 2.6v-2.6c0-3.3-2.8-6-6.2-6-3.4 0-6.2 2.7-6.2 6v2.6H8.1v23.2H32V12.7h-5.8z"></path>
  </symbol>

  <symbol id="close" viewBox="0 0 16 15">
    <title>close</title><path d="M1.99 1.49l12.103 12.103m0-12.103L1.99 13.593" fill-rule="evenodd" stroke-linecap="square"></path>
  </symbol>

  <symbol id="direction" viewBox="0 0 15 13">
    <g fill="#999" fill-rule="evenodd"><path d="M10.111 0l4.89 4.638-4.89 4.637-.688-.724 4.123-3.913L9.423.725z"></path><path d="M14.069 4.138v1H1.222v6.891h-1V4.14z"></path></g>
  </symbol>

  <symbol id="facebook" viewBox="0 0 40 40">
    <path id="facebook" d="M28.897 1.782l-4.28-.007c-4.808 0-7.916 3.478-7.916 8.86v4.086h-4.303c-.37 0-.672.327-.672.733v5.92c0 .404.301.733.672.733H16.7v14.935c0 .404.302.733.674.733h5.612c.373 0 .674-.329.674-.733V22.107h5.03c.373 0 .673-.33.673-.733l.004-5.92a.777.777 0 0 0-.198-.52.645.645 0 0 0-.476-.213H23.66v-3.464c0-1.664.364-2.509 2.35-2.509l2.884-.002c.372 0 .672-.329.672-.733V2.518c0-.407-.3-.734-.67-.736"></path>
  </symbol>

  <symbol id="hearth" viewBox="0 0 20 17">
    <path fill="#393939" fill-rule="evenodd" d="M16.813 8.792l-6.819 6.793L3.19 8.78a3.929 3.929 0 0 1-1.16-2.797A3.91 3.91 0 0 1 3.187 3.19a3.923 3.923 0 0 1 2.79-1.156c1.056 0 2.052.412 2.8 1.16l.862.863a.513.513 0 0 0 .73 0l.854-.855a3.935 3.935 0 0 1 2.797-1.16c1.053 0 2.046.412 2.793 1.156a3.926 3.926 0 0 1 1.157 2.797 3.91 3.91 0 0 1-1.157 2.797m.733-6.323a4.94 4.94 0 0 0-3.522-1.458c-1.332 0-2.583.52-3.526 1.462l-.492.492-.5-.5A4.966 4.966 0 0 0 5.976 1c-1.328 0-2.58.519-3.518 1.458A4.935 4.935 0 0 0 1 5.984a4.95 4.95 0 0 0 1.465 3.522l7.167 7.166c.099.1.233.153.362.153.13 0 .264-.05.363-.149l7.181-7.155A4.953 4.953 0 0 0 19 5.995a4.93 4.93 0 0 0-1.454-3.526" opacity=".42"></path>
  </symbol>

  <symbol id="instagram" viewBox="0 0 40 40">
    <path d="M28.273 2H11.727C6.364 2 2 6.364 2 11.727v16.546C2 33.636 6.364 38 11.727 38h16.546C33.636 38 38 33.636 38 28.273V11.727C38 6.364 33.636 2 28.273 2zm6.819 26.273a6.826 6.826 0 0 1-6.82 6.819H11.728a6.826 6.826 0 0 1-6.819-6.82V11.728a6.826 6.826 0 0 1 6.82-6.819h16.545a6.826 6.826 0 0 1 6.819 6.82v16.545z"></path><path d="M25.78 14.22a8.017 8.017 0 0 0-4.524-2.277 8.066 8.066 0 0 0-2.369 0 8.02 8.02 0 0 0-5.3 3.176 8.02 8.02 0 0 0-1.5 5.994 8.02 8.02 0 0 0 3.175 5.3 8.012 8.012 0 0 0 5.994 1.5 8.02 8.02 0 0 0 5.3-3.176 8.02 8.02 0 0 0 1.5-5.993 8.016 8.016 0 0 0-2.276-4.524zm-4.951 10.817a5.128 5.128 0 0 1-3.834-.96 5.13 5.13 0 0 1-2.032-3.391 5.13 5.13 0 0 1 .96-3.834 5.13 5.13 0 0 1 3.391-2.032 5.158 5.158 0 0 1 1.515 0 5.135 5.135 0 0 1 4.35 4.351 5.17 5.17 0 0 1-4.35 5.866zM29.1 9.446c-.382 0-.757.155-1.028.426-.271.27-.426.645-.426 1.028s.155.757.426 1.028c.27.27.646.426 1.028.426s.758-.155 1.028-.426c.271-.27.426-.646.426-1.028 0-.383-.155-.758-.426-1.028a1.464 1.464 0 0 0-1.028-.426z"></path>
  </symbol>

  <symbol id="pinterest" viewBox="0 0 40 40">
    <path id="pinterest" d="M16.948 25.81c-.944 4.956-2.094 9.708-5.507 12.19-1.052-7.492 1.547-13.117 2.755-19.09-2.059-3.472.248-10.462 4.588-8.74 5.342 2.119-4.626 12.911 2.066 14.261 6.988 1.406 9.84-12.151 5.507-16.56-6.259-6.367-18.222-.146-16.75 8.97.357 2.227 2.653 2.904.917 5.98-4.007-.89-5.202-4.058-5.05-8.28.25-6.91 6.197-11.75 12.163-12.42 7.545-.847 14.627 2.776 15.604 9.89 1.101 8.03-3.404 16.725-11.474 16.1-2.187-.172-3.104-1.257-4.819-2.301"></path>
  </symbol>

  <symbol id="play" viewBox="0 0 8 10">
    <path fill="#fff" d="M.614.056A.41.41 0 0 0 0 .41v8.82a.41.41 0 0 0 .614.355l7.181-4.41a.41.41 0 0 0 0-.71L.615.056z" fill-rule="evenodd"></path>
  </symbol>

  <symbol id="search" viewBox="0 0 40 40">
			<path transform="rotate(-44.193 32.099 32.208)" d="M31.3 23.5h1.5v17.3h-1.5z"></path><path d="M15.8 31C7.5 31 .7 24.2.7 15.9S7.5.8 15.8.8 31 7.6 31 15.9 24.2 31 15.8 31zm0-28.7C8.3 2.3 2.2 8.4 2.2 15.9s6.1 13.6 13.6 13.6 13.6-6.1 13.6-13.6c.1-7.5-6-13.6-13.6-13.6z"></path>
		</symbol>

  <symbol id="twitter" viewBox="0 0 40 40">
    <path id="twitter" d="M34.65 8.258c1.653-1.039 2.914-2.685 3.52-4.648a15.46 15.46 0 0 1-5.087 2.036C31.63 4.023 29.549 3 27.253 3c-4.41 0-7.99 3.759-7.99 8.39 0 .662.073 1.298.204 1.911-6.648-.351-12.532-3.685-16.48-8.767a8.65 8.65 0 0 0-1.084 4.222c0 2.909 1.416 5.482 3.556 6.978-1.309-.036-2.533-.422-3.613-1.049v.102c0 4.07 2.757 7.464 6.407 8.24a7.878 7.878 0 0 1-3.613.138c1.023 3.333 3.97 5.753 7.467 5.83-2.737 2.246-6.185 3.582-9.93 3.582-.642 0-1.272-.038-1.902-.111 3.543 2.384 7.74 3.768 12.258 3.768 14.7 0 22.736-12.785 22.736-23.87l-.022-1.086a16.61 16.61 0 0 0 3.994-4.347 15.385 15.385 0 0 1-4.59 1.327z"></path>
  </symbol>

  <symbol id="youtube" viewBox="0 0 40 40">
    <path id="youtube" d="M15 26V13.766L26.748 19.9 15 26m22.607-14.487c-.452-1.969-2.06-3.42-3.995-3.636-4.582-.513-9.22-.515-13.838-.513-4.618-.002-9.257 0-13.84.513-1.933.216-3.54 1.667-3.992 3.636-.644 2.8-.651 5.86-.651 8.744s0 5.944.644 8.745c.45 1.967 2.058 3.42 3.994 3.636 4.582.511 9.22.515 13.838.511 4.62.004 9.257 0 13.838-.51 1.935-.217 3.542-1.67 3.995-3.637.644-2.8.646-5.86.646-8.745s.006-5.943-.639-8.744"></path>
  </symbol>

</svg>
