<li data-voice>
  <a class="c-nav__voice" href="#"><h3>moods</h3></a>

  <div class="c-nav-wrapper" data-menu>
    <div class="c-nav__container" data-menu-container>

      {% for item in mood %}
      <a href="/mood.html" class="c-menu-banner c-menu-banner--vertical" data-menu-banner>
        <figure>
          <img src="{{ item.image }}" alt="">
          <figcaption>
            <span>{{ item.title }}</span>
          </figcaption>
        </figure>
      </a>
      {% endfor %}

  </div>
</li>