<div class="c-languages" data-hide id="menu-languages">
  <div class="c-languages__wrapper" id="languages-wrapper">
    <div class="c-languages__languages" id="languages-languages">
      <strong>Seleziona la lingua desiderata</strong>
      <ul>
        <li><a class="o-link o-link--menu" href="#" class="o-link">Italian</a></li>
        <li><a class="o-link o-link--menu" href="#" class="o-link">English</a></li>
        <li><a class="o-link o-link--menu" href="#" class="o-link">Francais</a></li>
        <li><a class="o-link o-link--menu" href="#" class="o-link">Deutsch</a></li>
      </ul>
    </div>
    <div class="c-languages__shipping" id="languages-shipping">
      <strong>Seleziona il paese di consegna</strong>
      <a href="#" class="o-link o-link--menu">Switzerland</a>
      <div class="c-languages__trigger">
        <a class="o-link" data-trigger-countries="open" href="#">Cambia paese</a>
      </div>
    </div>
  </div>

  <div class="c-languages__countries" id="languages-countries">
    <div class="c-languages__close">
      <svg data-trigger-countries="close" class="o-icon o-icon--arrow"><use xlink:href="#arrow-up"></use></svg>
    </div>
    <div class="c-languages__countries-wrapper">
      {% for continent in languages %}
      <div class="{{continent.continent}}">
        <strong>{{ continent.continent }}</strong>
        <ul>
          {% for country in  continent.countries %}
            <li>{{country}}</li>
          {% endfor %}
        </ul>
      </div>
      {% endfor %}
    </div>
  </div>
</div>