<div class="c-menu-boutiques" data-hide id="menu-boutiques">
  <ul>
    <li data-location="./assets/images/locations/1.jpg">
      <a class="o-link o-link--menu" data-nav="boutique" href="/boutique.html">Milano</a>
    </li>
    <li data-location="./assets/images/locations/2.jpg">
      <a class="o-link o-link--menu" data-nav="boutique" href="/boutique.html">Roma 1</a>
    </li>
    <li data-location="./assets/images/locations/2.jpg">
      <a class="o-link o-link--menu" data-nav="boutique" href="/boutique.html">Roma 2</a>
    </li>
    <li data-location="./assets/images/locations/3.jpg">
      <a class="o-link o-link--menu" data-nav="boutique" href="/boutique.html">Firenze</a>
    </li>
    <li data-location="./assets/images/locations/1.jpg">
      <a class="o-link o-link--menu" data-nav="boutique" href="/boutique.html">Venezia</a>
    </li>
    <li data-location="./assets/images/locations/2.jpg">
      <a class="o-link o-link--menu" data-nav="boutique" href="/boutique.html">Capri</a>
    </li>
    <li data-location="./assets/images/locations/3.jpg">
      <a class="o-link o-link--menu" data-nav="boutique" href="/boutique.html">Paris 1</a>
    </li>
    <li data-location="./assets/images/locations/3.jpg">
      <a class="o-link o-link--menu" data-nav="boutique" href="/boutique.html">Paris 2</a>
    </li>
    <li data-location="./assets/images/locations/1.jpg">
      <a class="o-link o-link--menu" data-nav="boutique" href="/boutique.html">London</a>
    </li>
    <li data-location="./assets/images/locations/2.jpg">
      <a class="o-link o-link--menu" data-nav="boutique" href="/boutique.html">Moskva</a>
    </li>
    <li data-location="./assets/images/locations/3.jpg">
      <a class="o-link o-link--menu" data-nav="boutique" href="/boutique.html">Kiev</a>
    </li>
    <li data-location="./assets/images/locations/1.jpg">
      <a class="o-link o-link--menu" data-nav="boutique" href="/boutique.html">Instanbul</a>
    </li>
    <li data-location="./assets/images/locations/2.jpg">
      <a class="o-link o-link--menu" data-nav="boutique" href="/boutique.html">Hokkaido</a>
    </li>
    <li data-location="./assets/images/locations/3.jpg">
      <a class="o-link o-link--menu" data-nav="boutique" href="/boutique.html">Osaka</a>
    </li>
    <li data-location="./assets/images/locations/1.jpg">
      <a class="o-link o-link--menu" data-nav="boutique" href="/boutique.html">Shangai</a>
    </li>
    <li data-location="./assets/images/locations/2.jpg">
      <a class="o-link o-link--menu" data-nav="boutique" href="/boutique.html">Taipei</a>
    </li>
    <li data-location="./assets/images/locations/3.jpg">
      <a class="o-link o-link--menu" data-nav="boutique" href="/boutique.html">Hiroshima</a>
    </li>
    <li data-location="./assets/images/locations/1.jpg">
      <a class="o-link o-link--menu" data-nav="boutique" href="/boutique.html">Kuwait City</a>
    </li>
    <li data-location="./assets/images/locations/2.jpg">
      <a class="o-link o-link--menu" data-nav="boutique" href="/boutique.html">Beirut</a>
    </li>
    <li data-location="./assets/images/locations/3.jpg">
      <a class="o-link o-link--menu" data-nav="boutique" href="/boutique.html">Jeddah</a>
    </li>
    <li data-location="./assets/images/locations/1.jpg">
      <a class="o-link o-link--menu" data-nav="boutique" href="/boutique.html">Los Angeles</a>
    </li>
  </ul>
</div>
