<li data-voice>
  <a class="c-nav__voice" href="#"><h3>{{ title }}</h3></a>

  <div class="c-nav-wrapper" data-menu>
    <div class="c-nav__container" data-menu-container>
      <div class="c-menu-block" data-menu-block>
        <!-- it's also possible to use <h4 class="h3"></h4> -->
        <a href="" class="not-clickable">
          <h3 class="c-menu-block__category">SS18</h3>
        </a>
        <div class="c-menu-block__wrapper">
          <ul class="c-menu-block__list">
            <li>
              <a data-nav="listing" class="o-link" href="/listing.html">Outerwear</a>
            </li>
            <li>
              <a data-nav="listing" class="o-link" href="/listing.html">Dresses</a>
            </li>
            <li>
              <a data-nav="listing" class="o-link" href="/listing.html">Sweaters</a>
            </li>
            <li>
              <a data-nav="listing" class="o-link" href="/listing.html">Fleecewear</a>
            </li>
            <li>
              <a data-nav="listing" class="o-link" href="/listing.html">Shirts</a>
            </li>
          </ul>
        </div>

      </div>

      <div class="c-nav__banner">
        <a data-nav="collection" href="/collection.html" class="c-menu-banner" data-menu-banner>
          <figure>
            <figcaption>
              <span>Precious Moments</span>
            </figcaption>
            <img data-src="./assets/images/banner-rainbow-week-pastel.jpg" src="{{ img1 }}" alt="">
          </figure>
        </a>
      </div>


      {% if double %}
      {% if singleBlock %}
      <div class="c-menu-block" data-menu-block>
        <!-- it's also possible to use <h4 class="h3"></h4> -->
        <a href="" class="not-clickable">
          <h3 class="c-menu-block__category">FW18</h3>
        </a>

        <div class="c-menu-block__wrapper">
          <ul class="c-menu-block__list">
            <li>
              <a data-nav="listing" class="o-link" href="/listing.html">Outerwear</a>
            </li>
            <li>
              <a data-nav="listing" class="o-link" href="/listing.html">Dresses</a>
            </li>
            <li>
              <a data-nav="listing" class="o-link" href="/listing.html">Sweaters</a>
            </li>
            <li>
              <a data-nav="listing" class="o-link" href="/listing.html">Fleecewear</a>
            </li>
            <li>
              <a data-nav="listing" class="o-link" href="/listing.html">Shirts</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="c-nav__banner">
        <a data-nav="collection" href="/collection.html" class="c-menu-banner" data-menu-banner>
          <figure>
            <figcaption>
              <span>Capsule SS 18</span>
            </figcaption>
            <img data-src="./assets/images/banner-rainbow-week-pastel.jpg" src="{{ img2 }}" alt="">
          </figure>
        </a>
      </div>

      {% endif %}
      {% endif %}
    </div>
  </div>
</li>