<div class="c-signup"  data-hide>
  <div class="c-signup__col">
    <h2>Log in</h2>
    <input type="text" placeholder="e-mail">
    <input type="text" placeholder="password">
    <div class="c-signup__remember">
      <div>
        <input type="checkbox" id="remember-mobile">
        <label for="remember-mobile">Remember me</label>
      </div>
      <a href="#">Forgot password?</a>
    </div>
    <button class="o-button o-button--filled">
      <span>log in</span>
    </button>
    <div class="c-signup__alternative">
      <span>or</span>
    </div>
    <button class="o-button o-button--facebook">
      <span>
        <svg><use xlink:href="#facebook-icon"></use></svg>
        connect with facebook
      </span>
    </button>
    <button class="c-signup__create-account u-hidden--from-md">
      create account
    </button>
  </div>
  <div class="c-signup__col u-hidden--until-md">
    <h2>New user</h2>
    <p class="c-signup__newuser">
      Register now and make the most
      of Alberta Ferretti. You will be able to:
    </p>
    <ul class="c-signup__list">
      <li>receive our exclusive newsletter</li>
      <li>save your favourite items</li>
      <li>shop faster</li>
      <li>check your orders and returns</li>
    </ul>
    <button class="o-button">
      <span>create account</span>
    </button>
  </div>
</div>