<li data-voice>
  <a class="c-nav__voice" href="#"><h3>wishlist</h3></a>

  <div class="c-nav-wrapper" data-menu>
    <div class="c-nav__container" data-menu-container>
      <div class="c-customer-care"  data-hide>
        <!-- <strong class="c-customer-care__title">help</strong> -->
        <ul class="c-customer-care__menu">
          <li>
            <a href="#">Returns</a>
          </li>
          <li>
            <a href="#">Payments</a>
          </li>
          <li>
            <a href="#">FAQs</a>
          </li>
          <li>
            <a href="#">Contact us</a>
          </li>
          <li>
            <a href="#">Chat</a>
          </li>
        </ul>
        <a class="c-customer-care__number" href="tel:+390276003095">+39 02 7600 3095</a>
    </div>
  </div>
</li>