<li data-voice>
  <a  class="c-nav__voice" href="#"><h3>world of</h3></a>

  <div class="c-nav-wrapper" data-menu>
    <div class="c-nav__container" data-menu-container>
      <div class="c-menu-block c-menu-block--large" data-menu-block="large">
        <!-- it's also possible to use <h4 class="h3"></h4> -->
        <a href="" class="not-clickable">
          <h3 class="c-menu-block__category">Collections</h3>
        </a>
        <div class="c-menu-block__wrapper">
          <ul class="c-menu-block__list">
            <li><a class="o-link" href="#">Outerwear</a></li>
            <li><a class="o-link" href="#">Dresses</a></li>
            <li><a class="o-link" href="#">Sweaters</a></li>
            <li><a class="o-link" href="#">Fleecewear</a></li>
            <li><a class="o-link" href="#">Shirts</a></li>
            <li><a class="o-link" href="#">Outerwear</a></li>
            <li><a class="o-link" href="#">Dresses</a></li>
            <li><a class="o-link" href="#">Sweaters</a></li>
            <li><a class="o-link" href="#">Fleecewear</a></li>
            <li><a class="o-link" href="#">Shirts</a></li>
          </ul>
        </div>
      </div>

      <a href="#" class="c-menu-banner" data-menu-banner>
        <figure>
          <img data-src="./assets/images/banner-rainbow-week-pastel.jpg" src="./assets/images/banner-rainbow-week-pastel.jpg" alt="">
          <figcaption>
            <span>ADV Campaign</span>
          </figcaption>
        </figure>
      </a>

      <div class="c-menu-block" data-menu-block>
        <!-- it's also possible to use <h4 class="h3"></h4> -->
        <a href="" class="not-clickable">
          <h3 class="c-menu-block__category">Highlights</h3>
        </a>
        <div class="c-menu-block__wrapper">
          <ul class="c-menu-block__list">
            <li><a class="o-link" href="#">Outerwear</a></li>
            <li><a class="o-link" href="#">Dresses</a></li>
            <li><a class="o-link" href="#">Sweaters</a></li>
            <li><a class="o-link" href="#">Fleecewear</a></li>
            <li><a class="o-link" href="#">Shirts</a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</li>