<div class="c-cart" data-hide>
  <p class="c-cart__header">2 items in your Bag</p>

  {% for i in range(0, 2) %}
  {% include 'partials/_cart-row.html' %}
  {% endfor %}

  <div class="c-cart__prices">
    <label>Subtotal</label>
    <div class="price-value" id="cart-subtotal">EUR 71,97</div>
    <label>Shipping</label>
    <div class="price-value" id="cart-shipping">EUR 15,00</div>

    <label class="total-label">Total</label>
    <div class="total-value" id="cart-total">EUR 90,57</div>

    <button class="o-button o-button--filled">
      <span>go to Checkout</span>
    </button>

  </div>
</div>