
<div class="c-customer-care"  data-hide>
  <!-- <strong class="c-customer-care__title">help</strong> -->
  <ul class="c-customer-care__menu">
    <li>
      <a class="o-link--menu" href="#">Returns</a>
    </li>
    <li>
      <a class="o-link--menu" href="#">Payments</a>
    </li>
    <li>
      <a class="o-link--menu" href="#">FAQs</a>
    </li>
    <li>
      <a class="o-link--menu" href="#">Contact us</a>
    </li>
    <li>
      <a class="o-link--menu" href="#">Chat</a>
    </li>
  </ul>
  <a class="c-customer-care__number" href="tel:+390276003095">
    PH. +39 02 7600 3095
  </a>
</div>