<div class="c-text-search" data-hide>
  <input class="c-text-search__input test-search-input" type="text" placeholder="Search" />
  <div class="c-text-search__results test-search-results" style="display: none">
      <div class="c-text-search__count">Results <span>10</span></div>

      <ul>
        {% for product in search %}
        <li>
          <img src="{{ product.image }}" alt="{{ product.title }}">
          <div>
            <p>{{ product.title }}</p>
            <strong>{{ product.price }}</strong>
          </div>
        </li>
        {% endfor %}
      </ul>
  </div>
</div>