<div class="c-need-help" data-component="need-help">
  <button class="c-need-help__cta" data-toggle-help>
    <span>Posso aiutarti?</span>
  </button>
  <div id="need-help" class="c-need-help__tab">
    <div id="need-help-container">
      <div class="c-close-button" data-toggle-help>
        <span></span>
        <span></span>
      </div>
      <span class="c-need-help__title">Possiamo aiutarti?</span>
      <p>Il nostro Servizio Clienti è a tua disposizione dalle 9:00 alle 13:00 e dalle 14:00 alle 18:00 dal lunedì al venerdì.</p>
      <div class="c-need-help__phone">
        <span>Per qualsiasi dubbio o domanda chiamaci al numero:</span>
        <a href="tel:+442037501242">+44 203 750 12 42</a>
      </div>
      <span>Inviaci una mail</span>
      <button class="o-button o-button--filled">
        <span>Contattaci</span>
      </button>
    </div>
  </div>
</div>