<aside class="c-newsletter" id="newsletter-modal">
  <div class="c-newsletter__wrapper js-inner">
    <div class="c-newsletter__col">
      <img src="./assets/images/2018-06-08 14.58.16.jpg" alt="">
    </div>
    <div class="c-newsletter__content">
      <button data-trigger="newsletter" class="c-close-button c-close-button--newsletter">
        <span></span>
        <span></span>
      </button>
      <h3>Accesso privilegiato</h3>
      <p class="c-newsletter__caption">
        Ad anteprime di collezioni, promozioni riservate e agli eventi più esclusivi.
        Iscriviti alla nostra newsletter.
      </p>
      <form action="">
        <input id="newsletter-input" required class="o-input o-input--bordered" placeholder="Inserisci la tua email" type="text">
        <div class="c-privacy-check">
          <input required type="checkbox" id="privacy">
          <label for="privacy">Autorizzo il trattamento dei miei dati per finalità di marketing (ricevere newsletter, novità, promozioni) da parte di AEFFE RETAIL s.p.a.
          </label>
        </div>
        <button type="submit" class="o-button o-button--filled">
          <span>
            iscriviti
          </span>
        </button>
      </form>
    </div>
  </div>
</aside>