<article class="c-press" data-gallery='{"title": "{{item.title}}", "image": "{{item.url}}"}'>
  <img class="c-press__image" src="{{item.url}}" alt="{{item.title}}">
  <h4 class="c-press__title">{{item.title}} <span>{{item.location}}</span></h4>
  <span class="c-press__date">{{item.date}}</span>
</article>