<div class="c-quick-buy__slide c-quick-buy__slide--image" data-slide data-url="/partials/single-quick-buy-panel.html">
  <div class="c-quick-buy__wrapper">
    <img class="inner-image" data-image src="{{ item.image }}"/>
    <div class="c-quick-buy__text">
      <h4 data-enter>{{ item.title }}</h4>
      <div data-toggle data-enter>
        <button class="o-button o-button--filled">
          <span>quick buy</span>
        </button>
      </div>
    </div>
  </div>
</div>