<div class="c-quick-buy__slide c-quick-buy__slide--text" data-slide data-url="/partials/single-quick-buy-panel.html">
  <div class="c-quick-buy__wrapper">
    <div class="c-quick-buy__text">
      <div>
        <h4 data-enter>Maxi trench in nylon</h4>
      </div>
      <p data-enter>
        Gloss brown, oversized long maxi trench in light nylon. Drop sleeves, double drawstring waist and a gold zipper in the bottom to enhance this garment, making it perfect even on special evening occasions.
      </p>
      <strong data-enter>EUR 1,920.00</strong>
      <div data-enter>
        <button data-toggle class="o-button o-button--filled o-button--light">
          <span>quick buy</span>
        </button>
      </div>
    </div>
  </div>
</div>