<div class="c-split-carousel__slide" data-slide >
  <div class="c-split-carousel__wrapper">
    <strong data-enter="text" class="typo-ui-text" data-animation="blur">Spring-Summer 2018 1</strong>
    <h2 data-enter="text" class="c-split-carousel__title" data-animation="blur">Essential Sensuality</h2>
    <p data-enter="text" data-animation="blur">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est accusantium placeat eos reprehenderit eum perspiciatis porro sequi debitis ipsa unde voluptates corporis quae officia odit rerum delectus, praesentium esse pariatur!</p>
    <button data-animation="fade" data-enter="text" class="o-button o-button--dark">
      <span>shop collection</span>
    </button>
  </div>
</div>