<div class="c-tabs">
  <ul class="c-tabs__list">
    <li>
      <button class="o-link" data-tab="details" data-panel-toggle="info-tabs">Dettagli</button>
    </li>
    <li>
      <button class="o-link" data-tab="size" data-panel-toggle="info-tabs">Fit</button>
    </li>
    <li>
      <button class="o-link" data-tab="shipping" data-panel-toggle="info-tabs">Resi e spedizioni</button>
    </li>
  </ul>
</div>