<div class="c-tabs-content js-tabs-content" data-panel="info-tabs" data-component="tabs" data-direction="left">
  <div class="c-tabs-content__wrapper" data-panel-wrapper="info-tabs">
    <button class="c-close-button" data-panel-toggle="info-tabs">
      <span></span>
      <span></span>
    </button>
    <ul class="c-tabs-content__list">
      <li>
        <button class="o-link o-link--menu" data-tab="details">Dettagli</button>
      </li>
      <li>
        <button class="o-link o-link--menu" data-tab="size">Fit</button>
      </li>
      <li>
        <button class="o-link o-link--menu" data-tab="shipping">Resi e spedizioni</button>
      </li>
    </ul>
    <div class="c-tabs-content__content" data-tab-content="details">
      <strong>descrizione</strong>
      <p>
        Chiusura a scatto, manico tondo
        Tracolla regolabile e removibile
        Logo in metallo applicato sul fronte,
        Tasca posteriore con bottone magnetico,
        Applicazioni laterali in pelle con chiusura a spillo
        Piedini metallici alla base
        Dettagli in metallo finitura argento
        Interno foderato con due tasche aperte
        Tasca con zip e piccola tasca a fessura
      </p>
      <strong>composizione</strong>
      <p>
        Tessuto: 60% Acetato, 40% Cupro<br>
        Fodera: 76% Acetato, 18% Seta, 6% Poliammide
      </p>
      <strong>LAVAGGI</strong>
      <p>
        Lavare a secco con precloretilene con precauzione - Non lavare in acqu - Non candeggiare - Non utilizzare l'asciugatrice - Stirare a temperatura massima di 110°a rovescio senza vapore utilizzando un panno tra capo e ferro
      </p>
      <p>codice prodotto #4904032949393</p>
    </div>
    <div class="c-tabs-content__content" data-tab-content="size">
      <strong>misure modella</strong>
      <p>
        Misure modella: altezza 1.77 cm, busto 83 cm, vita 61 cm, fianchi 90 cm. Indossa una taglia 40 italiana
      </p>
      <strong>indicazioni vestibilità</strong>
      <p>
        Questo capo è pensato per un fit anche maschile, quindi ha uno sviluppo taglia che aumenta sulle taglie più grandi
      </p>
      <strong>DIMENSIONI</strong>
      <p>
        Profondità: 9 cm,
        Lunghezza del manico: 22,5 cm,
        Larghezza: 20 cm,
        Altezza: 16 cm
      </p>
    </div>
    <div class="c-tabs-content__content" data-tab-content="shipping">
      <p>
          La consegna avviene mediamente entro 1 giorno lavorativo.<br><br>
          
          Per ulteriori dettagli su modalità e tempi di spedizione clicca qui.<br>
          Se non sei soddisfatto hai 14 giorni di tempo dalla data di ricezione dell’ordine per rendere gratuitamente l’articolo.
      </p>
    </div>
  </div>
</div>