<div class="o-dropdown js-dropdown">
  <button data-dropdown-toggle class="o-dropdown__label">SS 18  /  Shoes and accessories <svg class="o-icon o-icon--arrow dropdown-arrow"><use xlink:href="#arrow-down"/></svg></button>
  <div data-dropdown-menu class="o-dropdown__menu">
    <div class="o-dropdown__wrapper">
      <div class="o-dropdown__column">
        <ul>
          <li><a class="o-link o-link--no-line" href="#">Dresses</a></li>
          <li><a class="o-link o-link--no-line" href="#">Top and outerwear</a></li>
          <li><a class="o-link o-link--no-line" href="#">Skirts and trousers</a></li>
          <li><a class="o-link o-link--no-line" href="#">Swims</a></li>
          <li><a class="o-link o-link--no-line" href="#">Shoes and accessories</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>