<div class="c-editorial" style="background: url('./assets/images/editorial.jpg')">
  <p>
    Elegant and seductive swimwear from the Alberta Ferretti Spring Summer 2018 collection. Beachwear in premium stretch Lycra that can be worn as a top for true summer style.
  </p>
</div>