<div class="c-filters-mobile-toggle">
  <button data-panel-toggle="filters-mobile">Filtri<svg class="dropdown-arrow o-icon o-icon--arrow"><use xlink:href="#arrow-down"/></svg></button>
</div>

<div class="c-filters-mobile" data-component="panel" data-panel="filters-mobile" data-direction="top">
  <div data-panel-wrapper="filters-mobile">
    <button data-panel-toggle class="c-close-button">
      <span></span>
      <span></span>
    </button>
    <div class="o-dropdown__column">
      <strong>Taglia</strong>
      <ul>
        <li><a class=="o-link o-link--no-line">XXS</a></li>
        <li><a class=="o-link o-link--no-line">XS</a></li>
        <li><a class=="o-link o-link--no-line">S</a></li>
        <li><a class=="o-link o-link--no-line">M</a></li>
        <li><a class=="o-link o-link--no-line">L</a></li>
        <li><a class=="o-link o-link--no-line">XL</a></li>
        <li><a class=="o-link o-link--no-line">XXL</a></li>
      </ul>
    </div>
    <div class="o-dropdown__column">
      <strong>Colore</strong>
      <ul>
        <li><a class=="o-link o-link--no-line">Green</a></li>
        <li><a class=="o-link o-link--no-line">Pink</a></li>
        <li><a class=="o-link o-link--no-line">Skin</a></li>
        <li><a class=="o-link o-link--no-line">Purple</a></li>
        <li><a class=="o-link o-link--no-line">Brown</a></li>
        <li><a class=="o-link o-link--no-line">Red</a></li>
        <li><a class=="o-link o-link--no-line">Blue</a></li>
      </ul>
    </div>
  
    <div class="c-filters-mobile__aligner">
      <button class="o-button o-button--filled">
        <span>Filtra</span>
      </button>
  
      <button class="o-button">
        <span>Reset</span>
      </button>
    </div>
  </div>
</div>