<div class="c-filters o-dropdown o-dropdown--right" data-component="filters">
  <button data-dropdown-toggle class="o-dropdown__label">Filtri <svg class="o-icon o-icon--arrow dropdown-arrow"><use xlink:href="#arrow-down"/></svg></button>
  <div data-dropdown-menu class="o-dropdown__menu">
    <div class="o-dropdown__wrapper">
      <div class="o-dropdown__column">
        <strong>Taglia</strong>
        <ul>
          <li><a class=="o-link o-link--no-line">XXS</a></li>
          <li><a class=="o-link o-link--no-line">XS</a></li>
          <li><a class=="o-link o-link--no-line">S</a></li>
          <li><a class=="o-link o-link--no-line">M</a></li>
          <li><a class=="o-link o-link--no-line">L</a></li>
          <li><a class=="o-link o-link--no-line">XL</a></li>
          <li><a class=="o-link o-link--no-line">XXL</a></li>
        </ul>
      </div>
      <div class="o-dropdown__column">
        <strong>Colore</strong>
        <ul>
          <li><a class=="o-link o-link--no-line">Green</a></li>
          <li><a class=="o-link o-link--no-line">Pink</a></li>
          <li><a class=="o-link o-link--no-line">Skin</a></li>
          <li><a class=="o-link o-link--no-line">Purple</a></li>
          <li><a class=="o-link o-link--no-line">Brown</a></li>
          <li><a class=="o-link o-link--no-line">Red</a></li>
          <li><a class=="o-link o-link--no-line">Blue</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>