<footer class="c-footer">
  <div class="c-footer__row">
    <div class="c-footer__column">
      <div class="c-footer-newsletter" data-newsletter-footer>
        <strong>ISCRIVITI ALLA NEWSLETTER</strong>
        <form data-form action="" id="newsletter-trigger">
          <input placeholder="Inserisci indirizzo email" required id="footer-newsletter" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
          <button class="o-link" type="submit">
            <strong>Iscriviti</strong>
          </button>
          <p class="c-footer-newsletter__privacy">Letta e compresa l'informativa sulla privacy, autorizzo il trattamento dei miei dati per finalità di marketing (ricevere newsletter, novità, promozioni) da parte di AEFFE RETAIL S.p.A.</p>
        </form>
        <div class="c-footer-newsletter__response">
          <div data-success="Thank you" data-error="Error"></div>
        </div>
      </div>
      <ul class="c-footer__socials">
        <li>
          <a href="#"><svg class="o-icon"><use xlink:href="#facebook"></use></svg></a>
        </li>
        <li>
          <a href="#"><svg class="o-icon"><use xlink:href="#pinterest"></use></svg></a>
        </li>
        <li>
          <a href="#"><svg class="o-icon"><use xlink:href="#twitter"></use></svg></a>
        </li>
        <li>
          <a href="#"><svg class="o-icon"><use xlink:href="#instagram"></use></svg></a>
        </li>
        <li>
          <a href="#"><svg class="o-icon"><use xlink:href="#youtube"></use></svg></a>
        </li>
      </ul>
    </div>
    <div class="c-footer__column c-footer-first">
      <strong class="c-footer__logo">
        <img src="./assets/images/logo.svg" alt="Alberta Ferretti logo">
      </strong>
      <ul class="c-footer__list c-footer__list--first">
        <li><a href="#">Spedisci in: <strong>UK</strong></a></li>
        <li><a href="#">Lingua: <strong>ENG</strong></a></li>
        <!-- <li><a href="#">Language: <strong>ENG</strong></a></li> -->
        <li><a href="#">Store Locator</a></li>
        <li><a href="#">Personal shopper in Boutique</a></li>
      </ul>
    </div>
    <div class="c-footer__column">
      <strong>POSSIAMO AIUTARTI?</strong>
      <ul class="c-footer__list">
        <li><a href="#">Contattaci</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Tempi di spedizione</a></li>
        <li><a href="#">Metodi di pagamento</a></li>
      </ul>
    </div>
    <div class="c-footer__column">
      <strong>Area legale</strong>
      <ul class="c-footer__list">
        <li><a href="#">Condizioni di vendita</a></li>
        <li><a href="#">Condizioni d'uso</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Cookie</a></li>
        <li><a href="#">Resi e rimborsi</a></li>
        <li><a href="#">Risoluzione controversie</a></li>
        <li><a href="#">Garanzie legali venditore</a></li>
      </ul>
    </div>
  </div>
  <div class="c-footer__row">
    <p class="c-footer__credits">© 2018 ALBERTA FERRETTI  All Rights Reserved.</p>
    <p class="c-footer__credits"><span>visit</span><img src="./assets/images/logo-philosophy.svg"/></p>
  </div>
</footer>