<div class="c-fullscreen-carousel" data-slideshow="fullscreen">
  <div class="c-fullscreen-carousel__container">
    <div class="c-fullscreen-carousel__slide" data-slide>
      <div class="c-fullscreen-carousel__content">
        <strong data-enter="text" data-animation="blur" class="typo-ui-text">World of</strong>
        <h2 data-enter="text" data-animation="blur" class="c-fullscreen-carousel__title">Adv campaign SS 18</h2>

        {% set link = "index" %}
        {% include 'partials/link-button.html' %}
      </div>

      <div class="c-fullscreen-carousel__back">
        {% set image = "./assets/images/1.jpg" %}
        {% include 'partials/image-block.html' %}
      </div>
    </div>

    <div class="c-fullscreen-carousel__slide" data-slide>
      <div class="c-fullscreen-carousel__content">
        <strong data-enter="text" data-animation="blur" class="typo-ui-text">Spring-Summer 2018</strong>
        <h2 data-enter="text" data-animation="blur" class="c-fullscreen-carousel__title">Spring-Summer 2018</h2>

        {% set link = "index" %}
        {% include 'partials/link-button.html' %}
      </div>

      <div class="c-fullscreen-carousel__back">
        {% set image = "./assets/images/2.jpg" %}
        {% include 'partials/image-block.html' %}
      </div>
    </div>

    <div class="c-fullscreen-carousel__slide" data-slide>
      <div class="c-fullscreen-carousel__content">
        <strong data-enter="text" data-animation="blur" class="typo-ui-text">Fall-Winter 2018</strong>
        <h2 data-enter="text" data-animation="blur" class="c-fullscreen-carousel__title">Fall-Winter 2018</h2>

        {% set link = "index" %}
        {% include 'partials/link-button.html' %}
      </div>

      <div class="c-fullscreen-carousel__back">
        {% set image = "./assets/images/split-3.jpg" %}
        {% include 'partials/image-block.html' %}
      </div>
    </div>
  </div>

  <div class="c-fullscreen-carousel__controls">
    <button data-prev>
      <svg class="o-icon o-icon--arrow"><use xlink:href="#arrow-left"/></svg>
    </button>
    <button data-next>
      <svg class="o-icon o-icon--arrow"><use xlink:href="#arrow-right"/></svg>
    </button>
  </div>
</div>