<section class="c-hero" data-hero>
  <div class="c-hero__wrapper">
    <div class="c-hero__column" data-hover>
      <div class="c-hero__container">
        <span class="c-hero__caption">World of</span>
        <h2 class="c-hero__title">Backstage SS 2018</h2>

        {% include 'partials/link-button.html' %}
        {% include 'partials/link-button.html' %}
      </div>
    </div>

    <div class="c-hero__background">
      <div class="c-hero__image" data-background style="background-image: url(./assets/images/hero/hero-1.png)"></div>
    </div>

    {% include 'partials/scroll-line.html' %}
  </div>
</section>