<section class="c-hero" data-hero>
  <div class="c-hero__wrapper">
    <div class="c-hero__column" data-hover>
      <div class="c-hero__container">
        <span class="c-hero__caption">World of</span>
        <h2 class="c-hero__title">Show FW 2018</h2>

        {% set link = "collection" %}
        {% include 'partials/link-button.html' %}
      </div>
    </div>

    <div class="c-hero__column" data-hover>
      <div class="c-hero__container">
        <span class="c-hero__caption">World of</span>
        <h2 class="c-hero__title">Backstage SS 2018</h2>

        {% set link = "collection" %}
        {% include 'partials/link-button.html' %}
      </div>
    </div>

    <div class="c-hero__background">
      <video data-load="./assets/video/video.mp4" class="c-hero__video" data-background data-autoplay autoplay muted loop>
        <source src="./assets/video/video.mp4" type="video/mp4">
      </video>
      <video data-load="./assets/video/bg-fw18.mp4" class="c-hero__video" data-background data-autoplay autoplay muted loop>
        <source src="./assets/video/bg-fw18.mp4" type="video/mp4">
      </video>
    </div>
  
    {% include 'partials/scroll-line.html' %}
  </div>
</section>