<section class="c-hero {{ "c-hero--small" if smallerHero }}" data-hero>
  <div class="c-hero__wrapper">
    <div class="c-hero__column" data-hover>
      <div class="c-hero__container">
        <span class="c-hero__caption">World of</span>
        <h2 class="c-hero__title">Spring Summer 2018</h2>
        {% include 'partials/play-button.html' %}
      </div>
    </div>

    <div class="c-hero__background">
      <div class="c-hero__image" data-background style="background-image: url({{cover}})"></div>
    </div>

    {% include 'partials/scroll-line.html' %}
  </div>
</section>