<section class="c-hero c-hero--mood" data-hero>
  <div class="c-hero__wrapper">
    <div class="c-hero__column" data-hover>
      <div class="c-hero__container">
        <div>
          <span class="c-hero__caption">SS 18</span>
          <h2 class="c-hero__title">Innate sensuality</h2>
        </div>
        <p class="c-hero__text">Clean lines, unexpected volumes and sensual colours characterise the fluid and romantic clothing from the spring summer 2018 collection to give life to a new lightness.</p>
      </div>
    </div>

    <div class="c-hero__background">
      <div class="c-hero__image" data-background style="background-image: url(./assets/images/mood/cover-mood.jpg)"></div>
    </div>

    {% include 'partials/scroll-line.html' %}
  </div>
</section>