<div class="o-image-double">
    <div class="o-image-double__back" style="background-image: url({{double1}})" data-enter="image"></div>
    <div class="o-image-double__inner" style="background-image: url({{double2}})" data-enter="image"></div>
</div>