<section class="c-info-blocks">

  <article class="c-info-block" data-animation="top">
    <a class="c-info-block__link" href="./press.html">
      <h5 class="c-info-block__subtitle" data-animation="fade">Press</h5>

      <figure class="c-info-block__content">
        <div class="c-info-block__image">
          <img src="./assets/images/banner-press.jpg" alt="">
          <h2 class="c-info-block__title" data-animation="blur">Elle</h2>
        </div>

        <figcaption data-animation="fade">
          <p>Germany Mar 2018</p>
        </figcaption>
      </figure>
    </a>
  </article>

  <article class="c-info-block" data-animation="top">
    <a class="c-info-block__link" href="./celebs.html">
      <h5 class="c-info-block__subtitle" data-animation="fade">Celebrities</h5>

      <figure class="c-info-block__content">
        <div class="c-info-block__image">
          <img src="./assets/images/banner-celebs.jpg" alt="">
          <h2 class="c-info-block__title" data-animation="blur">You Tianyi</h2>
        </div>

        <figcaption data-animation="fade">
          <p>Shanghai Dec 2017</p>
        </figcaption>
      </figure>
    </a>
  </article>
</section>