<div class="c-instagram-layer" id="instagram-layer">
  <div class="c-instagram-layer__header">
    <div class="c-instagram-layer__profile">
      <img src="./assets/images/icon.jpg" alt="">
      <a href="#">@albertaferretti</a>
    </div>
    <div class="c-instagram-layer__link">
      <a class="o-link o-link--no-line" href="">
        <strong>Follow us on instagram</strong>
      </a>
    </div>
    <div>
      <div class="c-close-button" id="close-instagram">
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <div class="c-instagram-layer__wrapper">
    <div class="c-instagram-layer__content">
      <div data-slide class="c-instagram-layer__picture">
        <div style="background-image: url(./assets/images/insta/download.jpg)"></div>
      </div>
      <div data-slide class="c-instagram-layer__picture">
        <div style="background-image: url(./assets/images/insta/download-1.jpg)"></div>
      </div>
      <div data-slide class="c-instagram-layer__picture">
        <div style="background-image: url(./assets/images/insta/download-2.jpg)"></div>
      </div>
      <div data-slide class="c-instagram-layer__picture">
        <div style="background-image: url(./assets/images/insta/download.jpg)"></div>
      </div>
      <div data-slide class="c-instagram-layer__picture">
        <div style="background-image: url(./assets/images/insta/download-1.jpg)"></div>
      </div>
      <div data-slide class="c-instagram-layer__picture">
        <div style="background-image: url(./assets/images/insta/download-2.jpg)"></div>
      </div>
      <div data-slide class="c-instagram-layer__picture">
        <div style="background-image: url(./assets/images/insta/download.jpg)"></div>
      </div>
      <div data-slide class="c-instagram-layer__picture">
        <div style="background-image: url(./assets/images/insta/download-1.jpg)"></div>
      </div>
      <div data-slide class="c-instagram-layer__picture">
        <div style="background-image: url(./assets/images/insta/download-2.jpg)"></div>
      </div>
    </div>
    <div class="c-instagram-layer__controls">
      <button data-prev>
        <svg class="o-icon o-icon--arrow"><use xlink:href="#arrow-left"/></svg>
      </button>
      <button data-next>
        <svg class="o-icon o-icon--arrow"><use xlink:href="#arrow-right"/></svg>
      </button>
    </div>
  </div>
</div>