<div id="loader" class="c-loader">
  <div class="c-loader__wrapper">
    <!-- <svg width="200" height="18" viewBox='0 0 200 18' version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <defs>
        <mask id="mask" maskUnits="userSpaceOnUse" x="0" y="0" width="0" height="80">
          <rect x="0" y="0" width='200' height='18' fill="white"/>
        </mask>

        <path width='200' height='18' id="logo" d='M38 8.5c.8-.9 1.2-2 1.2-3.3 0-1.5-.5-2.7-1.5-3.7C36.6.5 35.3 0 33.9 0h-5.3v18h6.3c1.4 0 2.7-.5 3.7-1.5s1.5-2.2 1.5-3.7c0-1.9-.8-3.3-2.2-4.3zm-6.4-5.7H34c.7 0 1.2.2 1.7.7.5.5.7 1 .7 1.7s-.2 1.2-.7 1.7c-.5.5-1 .7-1.7.7h-2.4V2.8zm5.1 11.7c-.5.5-1 .7-1.7.7h-3.4v-4.8H35c.7 0 1.2.2 1.7.7.5.5.7 1 .7 1.7s-.2 1.2-.7 1.7zm6.2 3.5h9.7v-2.8h-6.8v-4.8H52V7.6h-6.2V2.8h6.8V0h-9.7v18zm62.2 0h2.9v-7.6h6.2V7.6H108V2.8h6.8V0h-9.7v18zm92.2-18v18h2.8V0h-2.8zM18.9 0H16v18h9.7v-2.8h-6.8V0zm60.2 0H68.3v2.8h4V18h2.9V2.8h4V0zM118 18h9.7v-2.8h-6.8v-4.8h6.2V7.6h-6.2V2.8h6.8V0H118v18zm40.9 0h9.7v-2.8h-6.8v-4.8h6.2V7.6h-6.2V2.8h6.8V0h-9.7v18zm12-15.2h4V18h2.9V2.8h4V0H171v2.8zm13.1 0h4V18h2.9V2.8h4V0h-10.8v2.8zM5.4 0L0 18h3l1.4-4.8h4.8l1.5 4.8h3L8.3 0H5.4zm-.1 10.4l1.5-5.6 1.5 5.6h-3zM84.1 0l-5.4 18h3l1.4-4.8h4.8l1.5 4.8h3L87 0h-2.9zM84 10.4l1.5-5.6 1.5 5.6h-3zm56.1-1.5c1-1 1.5-2.2 1.5-3.7s-.5-2.7-1.5-3.7-2.2-1.5-3.6-1.5h-5.7v18h2.9v-7.6h2.4l3.1 7.6h3.1l-3.4-8.2c.4-.2.8-.5 1.2-.9zm-2-2c-.5.5-1 .7-1.7.7h-2.8V2.8h2.8c.7 0 1.2.2 1.7.7.5.5.7 1 .7 1.7s-.2 1.2-.7 1.7zm15.9 2c1-1 1.5-2.2 1.5-3.7s-.5-2.7-1.5-3.7-2.2-1.5-3.6-1.5h-5.7v18h2.9v-7.6h2.4l3.2 7.6h3.1l-3.4-8.2c.4-.2.8-.5 1.2-.9zm-2-2c-.5.5-1 .7-1.7.7h-2.8V2.8h2.8c.7 0 1.2.2 1.7.7.5.5.7 1 .7 1.7s-.2 1.2-.7 1.7zm-86.9 2c1-1 1.5-2.2 1.5-3.7s-.5-2.7-1.5-3.7S62.8 0 61.4 0h-5.7v18h2.9v-7.6H61l3.2 7.6h3.1l-3.4-8.2c.4-.2.8-.5 1.2-.9zm-2-2c-.5.5-1 .7-1.7.7h-2.8V2.8h2.8c.7 0 1.2.2 1.7.7.5.5.7 1 .7 1.7s-.2 1.2-.7 1.7z'/>
      </defs>

      <use xlink:href="#logo" fill="#f3f3f3"/>
      <use xlink:href="#logo" fill="#393939" mask="url(#mask)"/>
    </svg> -->
  </div>
</div>