<div class="c-nav-mobile" id="menu-mobile">
  <div id="back-layer" class="c-main-nav__back"></div>

  <div data-panel-toggle="search" class="c-nav-mobile__search">
    <svg class="o-icon"><use xlink:href="#search"></use></svg>
  </div>

  <button class="c-nav-mobile__close c-close-button" data-toggle-menu-mobile>
    <span></span>
    <span></span>
  </button>

  <div class="c-nav-mobile__header">
    <strong><a data-panel-toggle="signin" class="o-link o-link--no-line">sign in</a></strong>
  </div>

  <div class="c-nav-mobile__overflow">
    <nav class="c-nav" data-append-menu-mobile>
      <div class="c-nav__aligner">
        <ul id="menu" class="c-nav__menu">
          {% set title = "Online Store" %}
          {% set double = true %}
          {% set singleBlock = true %}
          {% set img1 = "./assets/images/banner-onlinestore-precious-moments.jpg" %}
          {% set img2 = "./assets/images/banner-onlinestore-winter-sale.jpg" %}
          {% include 'partials/_menu-online-store.html' %}

          {% set title = "Rainbow Week" %}
          {% set img1 = "./assets/images/banner-rainbow-week-pastel.jpg" %}
          {% set img2 = "./assets/images/banner-rainbow-week-fluo.jpg" %}
          {% set double = true %}
          {% set singleBlock = false %}
          {% include 'partials/_menu-online-store.html' %}

          {% include 'partials/_menu-mood.html' %}

          {% include 'partials/_menu-world-of.html' %}
        </ul>

        <ul class="c-nav-mobile__secondary">
          <li>
            <button data-panel-toggle="languages">
              <strong>US / ENG</strong>
            </button>
          </li>
          <li>
            <button data-panel-toggle="customer">
              <strong>help</strong>
            </button>
          </li>
          <li>
            <button data-panel-toggle="boutiques">
              <strong>store locator</strong>
            </button>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div class="c-nav-mobile__panel c-panel" data-mobile-menu-panel data-direction="left">
    <button class="c-nav-mobile__panel-close" data-panel-toggle>
      <svg class="o-icon o-icon--arrow"><use xlink:href="#arrow-left"></use></svg>
    </button>
    <div data-panel-wrapper="search">
      <strong class="c-nav-mobile__title">Search</strong>
      {% include 'partials/_menu-search.html' %}
    </div>

    <div data-panel-wrapper="languages">
      <strong class="c-nav-mobile__title">Languages</strong>
      {% include 'partials/_menu-languages.html' %}
    </div>

    <div data-panel-wrapper="boutiques">
      <strong class="c-nav-mobile__title">Store locator</strong>
      {% include 'partials/_menu-boutiques.html' %}
    </div>

    <div data-panel-wrapper="customer">
      <strong class="c-nav-mobile__title">Help</strong>
      {% include 'partials/_menu-customer.html' %}
    </div>

    <div data-panel-wrapper="signin">
      <strong class="c-nav-mobile__title">Signin</strong>
      {% include 'partials/_menu-signup.html' %}
    </div>
  </div>
</div>