<div class="c-mood-block {{ "c-mood-block--invert" if invertBlock }}">
  <div class="c-mood-block__back" style="background-image: url({{back}})"></div>
  <div class="c-mood-block__products">
    {% set nobg = true %}
    {% set center = true %}
    {% set item = { title: 'long organzine dress', price: 'EUR 945,00', image: image1, hover: 'Taglie disponibili: 6 8 10' } %}
    {% include 'partials/product-card.html' %}

    {% set item = { title: 'long organzine dress', price: 'EUR 945,00', image: image2, hover: 'Taglie disponibili: 6 8 10' } %}
    {% include 'partials/product-card.html' %}
  </div>
</div>