<div class="c-multi-carousel" data-component="multi-carousel">
  <h4 class="c-multi-carousel__title">Shoes and accessories</h4>
  <div class="c-multi-carousel__wrapper" data-row>
    {% for product in multi %}
      <a href="/product.html" data-nav="product" class="c-multi-carousel__slide" data-slide>
        <img class="inner-image" src="{{ product.src }}">
        <h4>{{ product.title }}</h4>
        <strong>{{ product.price }}</strong>
      </a>
    {% endfor %}

  </div>

  <div class="c-multi-carousel__controls">
    <button data-prev>
      <svg class="o-icon o-icon--arrow"><use xlink:href="#arrow-left"/></svg>
    </button>
    <button data-next>
      <svg class="o-icon o-icon--arrow"><use xlink:href="#arrow-right"/></svg>
    </button>
  </div>
</div>