<div class="c-product-notifyme js-notify-me">
  <span class="c-product-notifyme__close">
    <div data-notify="close" class="c-close-button">
      <span></span>
      <span></span>
    </div>
  </span>
  <p>Avvisami quando la mia taglia è tornata disponibile</p>
  <input type="text" placeholder="Inserisci indirizzo email">
  <div class="c-privacy-check">
    <input type="checkbox" id="privacy">
    <label for="privacy">Letta e compresa l'informativa sulla privacy, autorizzo il trattamento dei miei dati per finalità di marketing (ricevere newsletter, novità, promozioni) da parte di AEFFE RETAIL S.p.A</label>
  </div>
  <button class="o-button o-button--filled">
    <span>avvisami</span>
  </button>
</div>