<div data-component="video-player" data-video-provider="youtube" data-video-id="5k9BrY6pp8Q">
  <button data-play class="c-video-play">
    <svg class="c-video-play__icon"><use xlink:href="#play"></use></svg>
  </button>
</div>