<div class="c-product-card {{ "c-product-card--center" if center }} {{ "c-product-card--nobg" if nobg }}">
  <a class="c-product-card__link" href="/product.html" data-nav="product">
    <figure>
      <div class="c-product-card__image">
        <img src="{{ item.image }}" alt="">
        <div class="c-product-card__hover">
          <img src="{{ item.hoverImage }}" alt="">
        </div>
      </div>
      <figcaption>
        <div class="c-product-card__caption">
          <p class="c-product-card__title">{{ item.title }}</p>
          <p class="c-product-card__hover">{{ item.hover }}</p>
        </div>
        <strong>{{ item.price | safe }}</strong>
      </figcaption>
    </figure>
  </a>
</div>