<div class="c-products-row">
  <div class="l-listing">
    <div class="l-listing__list">
      {% for item in moodproducts %}
        {% set nobg = true %}
        {% set center = true %}
        {% include 'partials/product-card.html' %}
      {% endfor %}
    </div>
  </div>
</div>