<div class="c-quick-buy {{ "c-quick-buy--invert" if invertBlock }} {{ "c-quick-buy--mood" if moodBlock }}" style="background: #{{color}}; color: white;">
  <div class="c-quick-buy__side">
    {% include 'partials/image-block-double.html' %}
  </div>

  <div class="c-quick-buy__container" data-component="quick-buy" data-animation="fade">
    {% include 'partials/_quick-buy-slide-text.html' %}
  </div>
</div>