<div class="c-quick-buy {{ "c-quick-buy--invert" if invertBlock }}">
  {% set url="./assets/images/quick.jpg" %}
  {% include 'partials/static-block.html' %}

  <div class="c-quick-buy__container" data-component="quick-buy" data-animation="fade">
    {% for item in quickbuy %}
      {% include 'partials/_quick-buy-slide-image.html' %}
    {% endfor %}

    <div class="c-quick-buy__controls">
      <svg data-prev="quick" class="o-icon o-icon--arrow"><use xlink:href="#arrow-left"/></svg>
      <svg data-next="quick" class="o-icon o-icon--arrow"><use xlink:href="#arrow-right"/></svg>
    </div>
  </div>
</div>