<div class="c-related js-related" data-component="multi-carousel">
    <h3 class="c-related__title">You may also like</h3>
    <div class="c-related__wrapper" data-row>
      <a data-slide href="#" class="c-related__product">
        <img src="./assets/images/quick-0.jpg" alt="">
        <p>Elephant necklace</p>
        <strong>EUR 530.00</strong>
      </a>
      <a data-slide href="#" class="c-related__product">
        <img src="./assets/images/quick-1.jpg" alt="">
        <p>Elephant necklace</p>
        <strong>EUR 530.00</strong>
      </a>
      <a data-slide href="#" class="c-related__product">
        <img src="./assets/images/quick-2.jpg" alt="">
        <p>Elephant necklace</p>
        <strong>EUR 530.00</strong>
      </a>
    </div>
  </div>