
<div class="c-quick-product" data-product>
  <div class="c-product-carousel">
    <div class="c-product-carousel__wrapper">
      <img class="c-product-carousel__image" data-product-slide src="./assets/images/quick-0.jpg" alt="" />
      <img class="c-product-carousel__image" data-product-slide src="./assets/images/quick-1.jpg" alt="" />
      <img class="c-product-carousel__image" data-product-slide src="./assets/images/quick-2.jpg" alt="" />
    </div>
    <div class="c-product-carousel__controls">
      <svg data-prev="product" class="o-icon o-icon--arrow"><use xlink:href="#arrow-left"/></svg>
      <svg data-next="product" class="o-icon o-icon--arrow"><use xlink:href="#arrow-right"/></svg>
    </div>
  </div>
  <div class="c-quick-product__details">
    <div>
      <h4>Tomorrow Swimsuit</h4>
      <strong>EUR 245.00</strong>
      <div class="u-link-align">
        <a href="/product.html">View details</a>
      </div>
    </div>
    <div>
      <div class="c-options-quick-buy">
        <span>Colour</span>
        <div class="c-options-quick-buy__list">
          <div class="o-radio">
            <span class="label-image" for="rainbow">
              <img src="./assets/images/rainbow.jpg" alt="">
            </span>
          </div>
          <div class="o-radio selected">
            <span class="label-image" for="rainbow">
              <img src="./assets/images/rainbow.jpg" alt="">
            </span>
          </div>
        </div>
      </div>
      <div class="c-options-quick-buy">
        <span>Size</span>
        <div class="c-options-quick-buy__list">
          <div class="o-radio">
            <div class="label-text">6</div>
          </div>
          <div class="o-radio selected">
            <div class="label-text">8</div>
          </div>
          <div class="o-radio">
            <div class="label-text">10</div>
          </div>
          <div class="o-radio">
            <div class="label-text">12</div>
          </div>
        </div>
      </div>
      <div class="c-quick-product__cta">
        <button class="o-button o-button--filled"><span>Add to bag</span></button>
        <button class="o-icon-button selected"><svg class="o-icon"><use xlink:href="#hearth"/></svg></button>
      </div>
    </div>
  </div>
  <div class="c-quick-product__info">
    <h3>Size & Fit</h3>
    <strong>misure modella</strong>
    <p>
      Misure modella: altezza 1.77 cm, busto 83 cm, vita 61 cm, fianchi 90 cm. Indossa una taglia 40 italiana
    </p>
    <strong>indicazioni vestibilità</strong>
    <p>
      Questo capo è pensato per un fit anche maschile, quindi ha uno sviluppo taglia che aumenta sulle taglie più grandi
    </p>
    <strong>DIMENSIONI</strong>
    <p>
      Profondità: 9 cm,
      Lunghezza del manico: 22,5 cm,
      Larghezza: 20 cm,
      Altezza: 16 cm
    </p>
  </div>
</div>