<div class="c-split-carousel {{ "c-split-carousel--invert" if invertBlock }}  {{ "c-split-carousel--mood" if moodBlock }}" data-slideshow="split">
    <section class="c-split-carousel__container">

      {% include 'partials/_split-carousel-slide.html' %}
      {% include 'partials/_split-carousel-slide.html' %}
      {% include 'partials/_split-carousel-slide.html' %}

    </section>

    <div class="c-split-carousel__images">
      <div class="c-split-carousel__image" data-image>
        {% set image = "./assets/images/1.jpg" %}
        {% set image1 = "./assets/images/img-back-1.jpg" %}
        {% include 'partials/image-block-double.html' %}
      </div>
      <div class="c-split-carousel__image" data-image>
        {% set image = "./assets/images/2.jpg" %}
        {% set image1 = "./assets/images/img-back-2.jpg" %}
        {% include 'partials/image-block-double.html' %}
      </div>
      <div class="c-split-carousel__image" data-image>
        {% set image = "./assets/images/split-3.jpg" %}
        {% set image1 = "./assets/images/img-back-1.jpg" %}
        {% include 'partials/image-block-double.html' %}
      </div>
    </div>

    <div class="c-split-carousel__controls">
      <svg data-prev class="o-icon o-icon--arrow"><use xlink:href="#arrow-left"/></svg>
      <svg data-next class="o-icon o-icon--arrow"><use xlink:href="#arrow-right"/></svg>
    </div>
  </div>