<div class="c-split-carousel {{ "c-split-carousel--invert" if invertBlock }} {{ "c-split-carousel--mood" if moodBlock }}" data-slideshow="split">
  <section class="c-split-carousel__container">

    <div class="c-split-carousel__slide" data-slide>
      <div class="c-split-carousel__wrapper">
        <strong data-enter="text" class="typo-ui-text" data-animation="blur">Spring-Summer 2018 1</strong>
        <h2 data-enter="text" class="c-split-carousel__title" data-animation="blur">Essential Sensuality</h2>
        <p data-enter="text" data-animation="blur">Lorem ipsum dolor sit amet consectetur adipisicing elit. Est accusantium placeat eos reprehenderit eum perspiciatis porro sequi debitis ipsa unde voluptates corporis quae officia odit rerum delectus, praesentium esse pariatur!</p>
        <div data-animation="fade" data-enter="text">
          <button class="o-button o-button--filled">
            <span>shop collection</span>
          </button>
        </div>
      </div>
    </div>

    <div class="c-split-carousel__slide" data-slide>
      <div class="c-split-carousel__wrapper">
        <strong data-enter="text" class="typo-ui-text">Spring-Summer 2018 2</strong>
        <h2 data-enter="text" class="c-split-carousel__title">Luminescent Attitude</h2>
        <p data-enter="text">Lorstrong ipsum dolor sit amet consectetur adipisicing elit. Est accusantium placeat eos reprehenderit eum perspiciatis porro sequi debitis ipsa unde voluptates corporis quae officia odit rerum delectus, praesentium esse pariatur!</p>
        <div data-animation="fade" data-enter="text">
          <button class="o-button o-button--filled">
            <span>shop collection</span>
          </button>
        </div>
      </div>
    </div>

    <div class="c-split-carousel__slide" data-slide>
      <div class="c-split-carousel__wrapper">
        <strong data-enter="text" class="typo-ui-text">Autumn-Winter 2018 3</strong>
        <h2 data-enter="text" class="c-split-carousel__title">Momenti Preziosi</h2>
        <p data-enter="text">Lorstrong ipsum dolor sit amet consectetur adipisicing elit. Est accusantium placeat eos reprehenderit eum perspiciatis porro sequi debitis ipsa unde voluptates corporis quae officia odit rerum delectus, praesentium esse pariatur!</p>
        <div data-animation="fade" data-enter="text">
          <button class="o-button o-button--filled">
            <span>shop collection</span>
          </button>
        </div>
      </div>
    </div>

    <div class="c-dots" data-dots></div>
  </section>

  <div class="c-split-carousel__images">
    <div class="c-split-carousel__image" data-image>
      {% set image = "./assets/images/1.jpg" %}
      {% include 'partials/image-block.html' %}
    </div>
    <div class="c-split-carousel__image" data-image>
      {% set image = "./assets/images/2.jpg" %}
      {% include 'partials/image-block.html' %}
    </div>
    <div class="c-split-carousel__image" data-image>
      {% set image = "./assets/images/split-3.jpg" %}
      {% include 'partials/image-block.html' %}
    </div>
  </div>

  <div class="c-split-carousel__controls">
    <svg data-prev class="o-icon o-icon--arrow"><use xlink:href="#arrow-left"/></svg>
    <svg data-next class="o-icon o-icon--arrow"><use xlink:href="#arrow-right"/></svg>
  </div>
</div>