<section class="c-static-block">
  <div class="c-static-block__bg" style="background-image: url({{url}})">
    <img class="u-visually-hidden" src="{{url}}" />
  </div>
  <a href="listing.html" data-nav="listing" class="c-static-block__link">
    <div class="c-static-block__wrapper">
      <strong data-enter data-animation="blur" class="typo-ui-text">Spring-Summer 2018</strong>
      <h2 data-enter data-animation="blur" class="c-static-block__title">Denim & Stripes<br>collection</h2>

      <div data-animation="fade" data-enter="fade">
        <button class="o-button o-button--filled u-hidden--from-md" data-nav="collection">
          <span>view collection</span>
        </button>
        <span class="o-link o-link--light u-hidden--until-md" href="/collection.html" data-nav="collection">
            <span>view collection</span>
        </span>
      </div>
    </div>
  </a>
</section>