.c-product-description {
  position: relative;
  width: 100%;

  &__capsule {
    display: inline-block;
    margin-bottom: $mini-margin;
    font-size: font-size(s);
    border: 1px solid $color-dark;
    border-radius: 8px;
    padding: 4px 8px;
    font-weight: 400;
  }

  @include mq(md) {
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 2px;
      background: white;
    }
  }

  h1 {
    font-family: $font-family-sans;
    margin: 5px 0;
    line-height: 1.3;
    font-size: font-size(16);

    @include mq(md) {
      font-size: font-size(18);
    }
  }

  p {
    color: $color-warm-grey;
    font-size: font-size(s);
    margin: $mini-margin-mobile 0;

    @include mq(md) {
      margin-top: $mini-margin;
      margin: $standard-margin 0;
    }
  }
}