.c-product-images {
  position: relative;
  height: calc(70vh);
  display: flex;
  overflow: hidden;
  margin-bottom: 20px;
  
  .c-dots {
    left: 0;
    display: flex;
    justify-content: center;
  }

  @include mq(md) {
    height: auto;
    display: block;
    margin-bottom: 0;
  }

  .image-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-bottom: 45px;
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mq(md) {
      position: relative;
      width: 100%;
      height: calc(100vh);
      padding: 0;

      &:first-of-type {
        img {
          height: 80%;
        }
      }
    }
  }

  img {
    height: 100%;
    display: block;
    margin: 0 auto;
  }
}