.c-product-navigation {
  display: none;

  @include mq(md) {
    position: absolute;
    top: 120px;
    top: 0;
    right: 0;
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // margin: $standard-margin;
    padding: 0 $mini-margin;
    margin-top: 90px;

    a {
      visibility: visible;
      margin-left: 20px;

      &::after,
      &::before {
        display: none;
      }
    }
  }
}