.c-product-notifyme {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-flow: column nowrap;
  text-align: center;

  background: $color-light;
  padding: $standard-margin;

  visibility: hidden;
  opacity: 0;

  input {
    margin: $standard-margin 0;
  }

  &__close {
    margin-bottom: $standard-margin;
    cursor: pointer;

    > div {
      margin: 0 auto;
    }
  }
}