.c-product {
  position: relative;
  max-width: $container-width;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-flow: column;

  @include mq(md) {
    flex-flow: row;
    padding: 0 $large-margin;
  }

  &__col {
    position: relative;
    width: 100%;
    display: flex;
    flex: 0 0 auto;
    flex-flow: column;
    justify-content: center;
    padding: 0 $small-margin;
    order: 1;
    z-index: 1;

    &:first-of-type {
      order: 2;
    }

    @include mq(md) {
      position: sticky;
      top: 0;
      left: 0;
      width: 25%;
      height: 100vh;
      flex: 0 0 auto;
      order: inherit;

      &:first-of-type {
        order: inherit;
      }
    }
  }

  &__col-images {
    // padding-top: 120px;
    height: auto;
    width: 100%;
    order: 0;
    z-index: 0;

    @include mq(md) {
      width: 50%;
      order: inherit;
    }
  }

  &__breadcrumbs {
    display: none;
    white-space: nowrap;

    @include mq(md) {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      margin-top: 100px;
      font-size: font-size(s);
      padding: 0 $small-margin;
    }

    p {
      position: sticky;
      top: 120px;
    }
  }

  .scrollbar-track {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
}


