.c-product-variables {
  left: 0;
  right: 0;
  text-align: center;

  &__wishlist {
    margin: $small-margin;
    text-align: center;

    a {
      display: inline-block;
      text-transform: uppercase;
    }
  }

  &__tip {
    position: relative;
    text-align: left;
    padding: $mini-margin 0;
    margin-bottom: 20px;
    font-size: font-size(s);

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 2px;
      background: white;
      display: block;
    }
  }

  &__infos {
    font-size: font-size(s);

    @include mq(md) {
      margin-top: $standard-margin;
    }
  }

  .o-button {
    width: 100%;
  }

  &__price {
    position: relative;
    display: block;
    margin: $small-margin 0;
    font-size: font-size(m);

    @include mq(md) {
      text-align: left;
    }

    strong {
      font-weight: 500;
      letter-spacing: 1.4px;

      @include mq(md) {
        font-weight: 400;
      }
    }

    .sale {
      margin-right: 5px;
      color: $color-warm-grey;
    }

    &.disabled {
      color: $color-warm-grey;
    }
  }
}