/* ==========================================================================

Base Styles
====


Some Basic Styles

```
```

========================================================================== */

*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

*:focus{
  outline: none;
}

html,
button,
input,
select,
textarea {
  font-family: $font-family-base;
  color: $color-text;
  text-decoration: none;
}

html,
body {
  line-height: 1.4;
}

html {
  font-size: percentage(14px / 16px); //16px

  @include mq(md) {
    font-size: percentage($font-size-default / 16px); //16px
  }
}

body {
  min-width: 320px;
  background: $color-bg;
  color: $color-text;
  font-family: $font-family-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  letter-spacing: 0.5px;

  // @include mq(md) {
    // @include scrollbar-custom();
  // }

  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($color-dark, 0.7);
    z-index: z-index(header) + 1;
    opacity: 0;
    visibility: hidden;
    transition: all 0.6s ease-out;
  }

  &.is-fixed {
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  &.is-overlay::before {
    opacity: 0.6;
    visibility: visible;
  }
}

.svg-sprites {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  visibility: hidden;
}

//Remove text-shadow in selection highlight: h5bp.com/i
//These selection declarations have to be separate.
//Customize the background color to match your design.

::-moz-selection { // scss-lint:disable VendorPrefix
  color: $color-text-selection;
  background: $color-background-selection;
  text-shadow: none;
}

::selection {
  color: $color-text-selection;
  background: $color-background-selection;
  text-shadow: none;
}

// Remove the gap between images and the bottom of their containers: h5bp.com/i/440
figure {
  margin: 0;
}

audio,
canvas,
iframe,
svg,
video,
img {
  vertical-align: middle;
}

// A better looking default horizontal rule

hr {
  display: block;
  height: 1px;
  margin: 1rem 0;
  padding: 0;
  border: 0;
  border-top: 1px solid $color-border;
}

.lines {
  @include boost-performance;
  will-change: transform, opacity;
}

// Remove default fieldset styles.
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

// Allow only vertical resizing of textareas.
textarea {
  resize: vertical;
}

input::-moz-focus-inner {
  border: 0;
}

strong {
  text-transform: uppercase;
}


/* ==========================================================================
##prevent 300ms delay in FF, Chrome and IE on touch devices
========================================================================== */

a[href], // scss-lint:disable QualifyingElement
button {
  touch-action: manipulation;
  text-decoration: none;
}

.not-clickable {
  pointer-events: none;
  
  &::after,
  &::before {
    display: none;
  }
}

/* ==========================================================================
##Headings and Base

1 to 6 heading

```
```
========================================================================== */

%heading-base {
  margin: 0;
  //color: $color-text
  font-family: $font-family-h;
  font-weight: font-weight(regular);
  letter-spacing: 0.5px;
}

@include classed-headings {
  @extend %heading-base;
}

@each $font-head-num, $font-head-size in $font-sizes-headings {
  h#{$font-head-num},
  .h#{$font-head-num} {
    font-size: font-size(map-get($font-sizes-headings-mobile, $font-head-num));
    line-height: $font-lheight-h;
    
    @include mq(md) {
      font-size: font-size($font-head-size);
    }
  }
}

p {
  margin: 0 0 0.2em;
  line-height: 2;
}

a,
a:visited,
a:hover {
  color: $color-dark;
}

/* ==========================================================================
## CSS to JS Breakpoint Bridge
========================================================================== */

@if $mq-responsive {
  
  body::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: z-index(behind) - 2;
    display: block;
    visibility: hidden;
    overflow: hidden;
    width: 1px;
    height: 1px;
  }
  
  body::after {
    content: 'xs';
    
    @each $mq-key, $mq-value in $mq-breakpoints {
      @include mq($mq-key) {
        content: '#{$mq-key}';
      }
    }
  }
  
  //fallback
  head {
    font-family: '/#{map-to-JSON($mq-breakpoints)}/'; // scss-lint:disable NameFormat
  }
}

