//colors by name
$color-warm-grey: #999999;
$color-dark: #393939;
$color-light-grey: #f3f3f3;
$color-light: #fff;

$color-text-selection: $color-light;
$color-background-selection: #d3e0e2;

//colors by function
$color-text: $color-dark;
$color-bg: $color-light;
$color-link: $color-dark;
$color-link-hover: lighten($color-dark, 20%);
$color-border: $color-dark;
$color-highlight: $color-dark;

$color-notice: $color-dark;
$color-error: $color-dark;
$color-success: $color-dark;
