// =============================================================================
//   Content typography and styles
//  ============================================================================
%typography {
  color: $color-text;
  // overflow-wrap: break-word;
  // word-wrap: break-word;

  h2, h3, h4 {
    margin: $standard-margin-mobile 0;

    @include mq(md) {
      margin: $standard-margin 0;
    }
  }

  strong {
    display: inline-block;
  }

  a {
    text-decoration: none;

    &:visited {
      text-decoration: none;
    }

    @at-root .no-touchevents &:hover {
      text-decoration: none;
    }
  }

  p {
    color: $color-warm-grey;
    line-height: 2;
    margin-bottom: 2rem;
    margin-top: 0;
    letter-spacing: 0.5px;

    @include mq(md) {
      margin-bottom: $large-margin;
    }
  }
}
