// @import url("https://use.typekit.net/jta0auv.css");
@import './fonts-import';

//fonts by type
$font-family-sans: "Graphik Web", serif;
$font-family-serif: "adobe-caslon-pro", sans-serif;

//fonts by function
$font-family-base: $font-family-sans;
$font-family-h: $font-family-serif;

//font dimensions
$font-size-default: 15px;
$font-lheight-default: 20px;

$font-sizes: (
    xl: ceil($font-size-default * 3.5),
    ll: ceil($font-size-default * 2),
    l: ceil($font-size-default * 1.5),
    ml: ceil($font-size-default * 1.25),
    m: $font-size-default,
    s: ceil($font-size-default * 0.75),
    xs: ceil($font-size-default * 0.6875)
);

$font-weights: (
    light: 300,
    regular: 400,
    medium: 500,
    semibold: 600,
    bold: 700
);
//font dimensions by function
$font-sizes-headings: (
    1: ceil($font-size-default * 5),
    2: ceil($font-size-default * 3.5),
    3: ceil($font-size-default * 2.25),
    4: ceil($font-size-default * 1.3),
    5: ceil($font-size-default * 1.2),
    6: ceil($font-size-default * 1.1)
);

$font-sizes-headings-mobile: (
    1: ceil($font-size-default * 3),
    2: ceil($font-size-default * 2.5),
    3: ceil($font-size-default * 2.25),
    4: ceil($font-size-default * 1.3),
    5: ceil($font-size-default * 1.2),
    6: ceil($font-size-default * 1.1)
);

$font-size-text: $font-size-default;

$font-lheight-h: 1.1;
