@font-face {
  font-family: 'Graphik Web';
  src: url('../fonts/Graphik-Semibold-Web.eot');
  src: url('../fonts/Graphik-Semibold-Web.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Graphik-Semibold-Web.woff2') format('woff2'),
  url('../fonts/Graphik-Semibold-Web.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Graphik Web';
  src: url('../fonts/Graphik-Medium-Web.eot');
  src: url('../fonts/Graphik-Medium-Web.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Graphik-Medium-Web.woff2') format('woff2'),
  url('../fonts/Graphik-Medium-Web.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Graphik Web';
  src: url('../fonts/Graphik-Regular-Web.eot');
  src: url('../fonts/Graphik-Regular-Web.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Graphik-Regular-Web.woff2') format('woff2'),
  url('../fonts/Graphik-Regular-Web.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'adobe-caslon-pro';
  src:
      url('../fonts/ACaslonPro-Italic.woff')  format('opentype'),
      url('../fonts/ACaslonPro-Italic.otf') format('woff'),
      url('../fonts/ACaslonPro-Italic.ttf')  format('truetype'),
      url('../fonts/ACaslonPro-Italic.eot') format('embedded-opentype'),
      url('../fonts/ACaslonPro-Italic.svg#ACaslonPro-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}


@font-face {
  font-family: 'adobe-caslon-pro';
  src:
      url('../fonts/ACaslonPro-Regular.woff')  format('opentype'),
      url('../fonts/ACaslonPro-Regular.otf') format('woff'),
      url('../fonts/ACaslonPro-Regular.ttf')  format('truetype'),
      url('../fonts/ACaslonPro-Regular.eot') format('embedded-opentype'),
      url('../fonts/ACaslonPro-Regular.svg#ACaslonPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
