//global configs
$rem-to-px-fallback: false !default;

//use custom grid
$grid-enabled: true;

$mq-breakpoints: (
    xs: 480px,
    sm: 768px,
    md: 992px,
    lg: 1200px
);

$layers: (
    behind: -1,
    below: -1,
    base: 0,
    above: 1,
    modal: 21,
    loader: 23,
    header: 12,
    menu-mobile: 22
);

//PSD base viewport size
$viewport-width: 1280px;
$viewport-height: 720px;
$container-width: 1900px;

$scroll-line-size: 30px;

$mini-margin: 15px;
$small-margin: 25px;
$standard-margin: 40px;
$large-margin: 75px;
$giga-margin: 10vh;

$mini-margin-mobile: 10px;
$small-margin-mobile: 15px;
$standard-margin-mobile: 25px;
$large-margin-mobile: 50px;

$button-margin: $small-margin;