@mixin gridbox ($imp...) {
  display: grid $imp;
  display: -ms-grid $imp;
}

@mixin grid-columns ($col...) {
  -ms-grid-columns: $col;
  grid-template-columns: $col;
}


@mixin grid-rows ($row...) {
  -ms-grid-rows:$row;
  grid-template-rows: $row;
}

$cols: 6;
$rows: 40;

@for $i from 1 through $cols {
@for $j from 1 through $cols {
  .col-#{$i}-#{$j} {
    grid-column: 1/6;

    @include mq(md) {
      grid-column: #{$i}/#{$j};
      -ms-grid-column: $i;
      -ms-grid-column-span: $j;
    }
  }
}
}

@for $i from 1 through $rows {
@for $j from 1 through $rows {
  .row-#{$i}-#{$j} {
    grid-row: #{$i}/#{$j};

    @include mq(md) {
      grid-row: #{$i}/#{$j};
      -ms-grid-row: $i;
      -ms-grid-row-span: $j;
    }
  }
}
}

//  &.isIE11 {
//   .row-grid {
//     @include flexbox();
//     @include flex-wrap(wrap);

//     .grid-item {
//       @include mq(sm) {
//         width: 50%;
//       }

//       @include mq(md) {
//         width: 33.33333%;
//       }

//       @include mq(lg) {
//         width: 25%;
//       }
//     }

//     .banner-hero {
//       display: none;
//     }
//   }
// }

.row-grid {
  @include grid-columns(50% 50%);
  @include gridbox();
  width: 100%;

  @include mq(md) {
    @include grid-columns(33.33333% 33.33333% 33.33333%);
  }

  @include mq(lg) {
    @include grid-columns(25% 25% 25% 25%);
  }
}