{% extends 'templates/_default.nunj.html' %}

{% set pageTitle = "AD Campaign | Alberta Ferretti" %}

{% block main %}
<div class="barba-container" data-cloak data-namespace="adcampaign">
  {% set cover = "./assets/images/adcampaign/ad-campaign-cover.jpg" %}
  {% set smallerHero = true %}
  {% include 'partials/hero-video-player.html' %}

  <div class="l-container">
    <div class="c-view-nav t-uppercase">
      <nav class="c-view-nav__anchors">
        <ul>
          <li>
            <a href="/press.html">press</a>
          </li>
          <li>
            <a href="/celebs.html">celebs</a>
          </li>
          <li>
            <a href="/adcampaign.html">adcampaign</a>
          </li>
        </ul>
      </nav>
    </div>

    <figure class="c-flag">
      <figcaption class="c-flag__body">
        <p class="flag-serif" data-animation="blur">
          Alberta Ferretti unveils her new Spring/Summer 2018 Advertising Campaign shot by photographer Mario Sorrenti.
        </p>
      </figcaption>
      <a data-animation="fade" class="c-flag__image" href="#">
        <img data-gallery='{"image": "./assets/images/adcampaign/ad-campaign-1.jpg"}' src="./assets/images/adcampaign/ad-campaign-1.jpg"/>
      </a>
    </figure>
    <div class="l-photo-grid">
      <img data-animation="fade" data-gallery='{"image": "./assets/images/adcampaign/ad-campaign-2.jpg"}' src="./assets/images/adcampaign/ad-campaign-2.jpg"/>
      <img data-animation="fade" data-gallery='{"image": "./assets/images/adcampaign/ad-campaign-3.jpg"}' src="./assets/images/adcampaign/ad-campaign-3.jpg"/>
      <img data-animation="fade" data-gallery='{"image": "./assets/images/adcampaign/ad-campaign-4.jpg"}' src="./assets/images/adcampaign/ad-campaign-4.jpg"/>
    </div>
    <figure class="c-flag c-flag--invert">
      <figcaption class="c-flag__body">
        <p data-animation="blur">
          The romanticism and femininity of Alberta Ferretti is reflected in the eight iconic and impactful shots portraying models Vittoria Ceretti, Cara Taylor and Binx Walton. The models are captured in moments of relaxed and seductive complicity. In the video, friendship, love and happiness become the core values that each model verbalizes in Italian. The campaign was shot in New York on November 4th, 2017 at Highline Stages, and will be published starting January 2018.
        </p>
      </figcaption>
      <a data-animation="fade" class="c-flag__image" href="#">
        <img data-gallery='{"image": "./assets/images/adcampaign/ad-campaign-5.jpg"}' src="./assets/images/adcampaign/ad-campaign-5.jpg"/>
      </a>
    </figure>
    <div class="c-credits">
      <h3 class="c-credits__title">Credits</h3>
      <div class="c-credits__item">
        <strong>Photographer</strong>
        <p>Mario Sorrenti</p>
      </div>
      <div class="c-credits__item">
        <strong>Creative Director</strong>
        <p>Alex Wiederin at Buero New York</p>
      </div>
      <div class="c-credits__item">
        <strong>Models</strong>
        <p>
            Vittoria Ceretti<br>
            Cara Taylor<br>
            Binx Walton
        </p>
      </div>
      <div class="c-credits__item">
        <strong>Stylist</strong>
        <p>Carine Roifeld</p>
      </div>
      <div class="c-credits__item">
        <strong>Casting</strong>
        <p>Piergiorgio del Moro</p>
      </div>
      <div class="c-credits__item">
        <strong>Date</strong>
        <p>November 4th 2017</p>
      </div>
      <div class="c-credits__item">
        <strong>Location</strong>
        <p>Highline Stages, New York</p>
      </div>
    </div>
  </div>

  {% include 'partials/footer.html' %}
</div>
{% endblock %}