{% extends 'templates/_default.nunj.html' %}
{% set pageTitle = "Boutique | Alberta Ferretti" %}

{% block main %}
<div class="barba-container" data-cloak data-namespace="boutique">
  <div class="l-wrapper">
    <div class="c-boutique">
      <div class="c-boutique__col">
        <div class="c-boutique__info">
          <div class="boutique-info-intro">
            <h2 class="h2">Paris</h2>
            <address>
              Rue due Faubourg saint-Honoré 43,<br>
              Paris - France
            </address>
          </div>

          <div class="boutique-info-cols">
            <div class="boutique-info-col">
              <div class="boutique-info-row">
                <strong>Telefono</strong>
                <p>331 42655547</p>
              </div>

              <div class="boutique-info-row">
                <strong>Email</strong>
                <a href="mailto:af.paris@aeffe.com">af.paris@aeffe.com</a>
              </div>
            </div>
            <div class="boutique-info-col">
              <div class="boutique-info-row">
                <strong>Orari</strong>
                <p>Mon - Sun   10am - 7pm</p>
              </div>
              <div class="boutique-info-row boutique-maps-link">
                <a href="#">Indicazioni stradali <svg class="o-icon"><use xlink:href="#direction"></use></svg></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="c-boutique__col">
        <div class="c-boutique__maps" id="map" data-pin="assets/images/pin.png" data-map-id="ChIJU1_bUbDGhkcR7q4y3oZKNGM"></div>
        <div class="c-boutique__slideshow" id="locations-slideshow">
          <div class="c-boutique__slide" data-slide style="background-image: url('./assets/images/locations/1.jpg')"></div>
          <div class="c-boutique__slide" data-slide style="background-image: url('./assets/images/locations/2.jpg')"></div>
          <div class="c-boutique__slide" data-slide style="background-image: url('./assets/images/locations/3.jpg')"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}