{% extends 'templates/_default.nunj.html' %}

{% set pageTitle = "Celebs | Alberta Ferretti" %}

{% block main %}
<div class="barba-container" data-cloak data-namespace="generic">
  <div class="l-container">
    <div class="c-view-nav t-uppercase">
      <nav class="c-view-nav__anchors">
        <ul>
          <li>
            <a href="/press.html">press</a>
          </li>
          <li>
            <a href="/celebs.html">celebs</a>
          </li>
          <li>
            <a href="/adcampaign.html">adcampaign</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="l-press">
      <h2 class="l-press__title">Celebs</h2>
      <div class="l-press__grid">
        {% for item in celebs %}
        {% include 'partials/_press-card.html' %}
        {% endfor %}
      </div>
    </div>
  </div>

  {% include 'partials/footer.html' %}
</div>
{% endblock %}