{% extends 'templates/_default.nunj.html' %}
{% set pageTitle = "Collection | Alberta Ferretti" %}

{% block main %}
<div class="barba-container" data-cloak data-namespace="collection">
  <div class="l-wrapper">
    {% set cover = "./assets/images/collection.jpg" %}
    {% include 'partials/hero-video-player.html' %}

    <figure class="c-flag">
      <figcaption class="c-flag__body">
        <p class="flag-serif" data-animation="blur">
            Alberta Ferretti unveils her new Spring/Summer 2018 Advertising Campaign shot by photographer Mario Sorrenti.
        </p>
      </figcaption>
      <a data-animation="fade" class="c-flag__image" href="#" data-gallery='[{ "image": "./assets/images/adcampaign/ad-campaign-1.jpg" }, { "image": "./assets/images/adcampaign/ad-campaign-2.jpg"}, { "image": "./assets/images/adcampaign/ad-campaign-3.jpg" }]'>
        <div class="c-collections-backstage">
          <img class="c-collections-backstage__bg" src="./assets/images/collection-1.jpg"/>
          <div class="c-collections-backstage__hover">
            <span>Backstage</span>
            <div class="backstage-cta">
                <span class="o-link o-link--light">view gallery</span>
            </div>
          </div>
        </div>
      </a>
    </figure>
    <div class="l-collections__grid" data-component="gallery-zoom">
      {% for i in range(1, 25) %}
      <div data-zoom="./assets/images/looks/01-look-zoom.jpg" class="collection-item" data-animation="top">
        <img src="./assets/images/looks/{{ "0" if i < 10 else "" }}{{ i }}-look.jpg" alt="">
        <span>Nome {{ "0" if i < 10 else "" }}{{ i }}</span>
      </div>
      {% endfor %}
      <div class="collection-text col-3-5 row-2-3" data-animation="fade">
        <p>A new look, a contemporary attitude which surprises and astounds. Geometric shapes, soft lines and exquisite finishes, where sequins and appliqué details illuminate and enhance the fluidity of the garments. Minimalistic profiles melt into geometric designs, subtly highlighted to emphasise the length and volume of the dresses and trousers. A renewed sense of lightness interwoven with tones of black, nude, beige and pastel tones.</p>
      </div>
      <div class="collection-text col-1-3 row-6-7" data-animation="fade">
        <p>A new look, a contemporary attitude which surprises and astounds. Geometric shapes, soft lines and exquisite finishes, where sequins and appliqué details illuminate and enhance the fluidity of the garments. Minimalistic profiles melt into geometric designs, subtly highlighted to emphasise the length and volume of the dresses and trousers. A renewed sense of lightness interwoven with tones of black, nude, beige and pastel tones.</p>
      </div>
      <div class="collection-video col-1-5 row-4-5" data-animation="top">
        {% set cover = "./assets/images/collection-2.jpg" %}
        {% include 'partials/hero-video-player.html' %}
      </div>
    </div>

    {% include 'partials/footer.html' %}
  </div>
</div>
{% endblock %}