{% extends 'templates/_default.nunj.html' %}
{% set pageTitle = "Home | Alberta Ferretti" %}
{% set bodyClass = "is-header-light" %}

{% block main %}
<div class="barba-container" data-cloak data-namespace="home">
    <div class="l-wrapper">
        {% include 'partials/hero-split-video.html' %}

        {% set invertBlock = true %}
        {% include 'partials/slideshow-split.html' %}

        {% include 'partials/multi-carousel.html' %}

        {% set invertBlock = true %}
        {% include 'partials/quick-buy.html' %}

        {% include 'partials/info-blocks.html' %}
    </div>

    {% include 'partials/instagram-layer.html' %}

    {% include 'partials/footer.html' %}
</div>
{% endblock %}