{% extends 'templates/_default.nunj.html' %}
{% set pageTitle = "Products | Alberta Ferretti" %}

{% block main %}
<section class="barba-container" data-cloak data-namespace="listing">
  <div class="l-container">

    <div class="c-view-nav">
      <div class="c-view-nav__breadcrumbs">
        {% include 'partials/breadcrumbs.html' %}
      </div>
      <div class="c-view-nav__anchors">
        <ul>
          <li>
            <a data-anchor="resort" class="no-barba" href="#resort">Resort collection</a>
          </li>
          <li>
            <a data-anchor="limited" class="no-barba" href="#limited">Limited Edition</a>
          </li>
          <li>
            <a data-anchor="fashion" class="no-barba" href="#limited">Fashion Edition</a>
          </li>
        </ul>
      </div>
      <div class="c-view-nav__filters">
        {% include 'partials/filters.html' %}
      </div>
    </div>

    <section class="l-listing">
      <div class="l-listing__list row-grid">
        <div class="c-listing-category" id="resort">
          <h4>Resort collection</h4>
        </div>
        {% for item in listing %}
         {% include 'partials/product-card.html' %}
        {% endfor %}
        <div class="c-listing-banner col-2-4 row-2-2">
          <a class="c-product-card__link" href="/product.html" data-nav="product">
            <figure>
              <div class="background" style="background-image: url(./assets/images/listing/banner-listing.jpg)"></div>
              <figcaption>
                <h3>Mia Mule</h3>
                <strong class="o-link o-link--light">shop now</strong>
              </figcaption>
            </figure>
          </a>
        </div>
        <div class="c-listing-category" id="limited">
          <h4>Limited edition</h4>
        </div>
        {% for item in listing %}
          {% include 'partials/product-card.html' %}
        {% endfor %}
        <div class="c-listing-category" id="fashion">
          <h4>Fashion edition</h4>
        </div>
        {% for item in listing %}
          {% include 'partials/product-card.html' %}
        {% endfor %}
      </div>
      <!-- <div class="l-listing__load-more">
        <button class="o-button">
          <span>Load more</span>
        </button>
      </div> -->
    </section>

  </div>

  {% include 'partials/filters-mobile.html' %}
  {% include 'partials/footer.html' %}
</section>
{% endblock %}
