{% extends 'templates/_default.nunj.html' %}

{% set pageTitle = "Mood | Alberta Ferretti" %}

{% block main %}
<div class="barba-container" data-cloak data-namespace="mood">
  <div class="l-wrapper">
      {% include 'partials/hero-mood.html' %}

      {% set invertBlock = false %}
      {% set moodBlock = true %}

      {% set back = "./assets/images/mood/look-01-mood.jpg" %}
      {% set image1 = "./assets/images/mood/item-01.1-mood.jpg" %}
      {% set image2 = "./assets/images/mood/item-01.2-mood.jpg" %}
      {% set color = "503f3b" %}
      {% include 'partials/mood-block.html' %}

      {% set invertBlock = true %}
      {% set double1 = "./assets/images/mood/bg-02-mood.jpg" %}
      {% set double2 = "./assets/images/mood/look-02-mood.jpg" %}
      {% include 'partials/quick-buy-mood.html' %}

      {% include 'partials/editorial-block.html' %}

      {% set invertBlock = false %}
      {% set back = "./assets/images/mood/look-03-mood.png" %}
      {% set image1 = "./assets/images/mood/item-03.1-mood.jpg" %}
      {% set image2 = "./assets/images/mood/item-03.2-mood.jpg" %}
      {% include 'partials/mood-block.html' %}

      {% set invertBlock = true %}
      {% set color = "af9185" %}
      {% set double1 = "./assets/images/mood/bg-04-mood.jpg" %}
      {% set double2 = "./assets/images/mood/look-04-mood.jpg" %}
      {% include 'partials/quick-buy-mood.html' %}

      {% include 'partials/products-row.html' %}

  </div>

  {% include 'partials/footer.html' %}
</div>
{% endblock %}