{% extends 'templates/_product.nunj.html' %}

{% set next = "product" %}


{% block stock %}
<div class="c-options-product__label">
    Il prodotto è in preorder. Questo potrebbe comportare tempi di spedizione più lunghi sull'intero ordine. La consegna è prevista tra 2 settimane.
</div>
{% endblock %}

{% block cta %}
<button class="o-button o-button--filled">
  <span>Aggiungi alla shopping bag</span>
</button>
{% endblock %}