{% extends 'templates/_product.nunj.html' %}

{% set next = "product-preorder" %}

{% block stock %}
<div class="c-options-product__label">
    Taglia non disponibile
</div>
{% endblock %}

{% block cta %}
<button data-notify="open" class="o-button o-button--filled o-button--light">
  <span>avvisami</span>
</button>
{% endblock %}

{% block sizes %}
  <div class="o-radio">
    <div class="label-text">6</div>
  </div>
  <div class="o-radio disabled selected">
    <div class="label-text">8</div>
  </div>
  <div class="o-radio disabled">
    <div class="label-text">10</div>
  </div>
  <div class="o-radio disabled">
    <div class="label-text">12</div>
  </div>
{% endblock %}

{% block price %}
<strong class="c-product-variables__price">EUR 1800</strong>
{% endblock %}