{% extends 'templates/_product.nunj.html' %}

{% set next = "product-notifyme" %}

{% block price %}
<strong class="c-product-variables__price">
  <del class="sale">EUR 1.900,00</del>
  EUR 1.800,00 -20%
</strong>
{% endblock %}

{% block cta %}
<button class="o-button o-button--filled">
  <span>Aggiungi alla shopping bag</span>
</button>
{% endblock %}