{% extends 'templates/_default.nunj.html' %}
{% set pageTitle = "Collection | Alberta Ferretti" %}

{% set double1 = "./assets/images/mood/bg-02-mood.jpg" %}
{% set double2 = "./assets/images/mood/look-02-mood.jpg" %}

{% block main %}
    <div class="barba-container" data-cloak data-namespace="collection">
        <div class="l-wrapper">
            {% include 'partials/hero-video.html' %}
            {% include 'partials/hero-image.html' %}
            {% include 'partials/hero-split-video.html' %}
            {% include 'partials/hero-split-image.html' %}
            {% include 'partials/hero-video-player.html' %}
            {% include 'partials/hero-mood.html' %}

            {% set invertBlock = false %}
            {% include 'partials/slideshow-split.html' %}

            {% set invertBlock = true %}
            {% include 'partials/slideshow-split.html' %}

            {% include 'partials/quick-buy.html' %}

            {% set invertBlock = false %}
            {% include 'partials/double-static.html' %}

            {% set invertBlock = true %}
            {% include 'partials/double-static.html' %}

            {% set invertBlock = false %}
            {% include 'partials/slideshow-split-double.html' %}

            {% include 'partials/multi-carousel.html' %}

            {% include 'partials/full-screen-carousel.html' %}
        </div>

        {% include 'partials/footer.html' %}
    </div>
{% endblock %}