// Settings
$plyr-border-box: true !default;
$plyr-touch-action: true !default;
$plyr-sr-only-important: true !default;

// Colors
$plyr-color-main: $color-accent !default;

// Font sizes
$plyr-font-family: inherit;
$plyr-font-size-small: 14px !default;
$plyr-font-size-base: 16px !default;

// Captions
$plyr-captions-bg: transparentize(#000, .3) !default;
$plyr-captions-color: #fff !default;
$plyr-font-size-captions-base: $plyr-font-size-base !default;
$plyr-font-size-captions-medium: ceil($plyr-font-size-base * 1.5) !default;
$plyr-font-size-captions-large: ($plyr-font-size-base * 2) !default;

// Controls
$plyr-control-icon-size: 12px !default;
$plyr-control-spacing: 10px !default;
$plyr-control-padding: ($plyr-control-spacing * .7) !default;
$plyr-video-controls-bg: #000 !default;
$plyr-video-control-color: #fff !default;
$plyr-video-control-color-hover: $color-accent !default;
$plyr-video-control-bg-hover: transparent !default;
$plyr-audio-controls-bg: #fff !default;
$plyr-audio-controls-border: 1px solid #dbe3e8 !default;
$plyr-audio-control-color: transparent !default;
$plyr-audio-control-color-hover:  transparent !default;
$plyr-audio-control-bg-hover: transparent;

// Tooltips
$plyr-tooltip-bg: transparentize(#000, .3) !default;
$plyr-tooltip-color: #fff !default;
$plyr-tooltip-padding: ($plyr-control-spacing / 2) !default;
$plyr-tooltip-arrow-size:4px !default;
$plyr-tooltip-radius: 3px !default;

// Progress
$plyr-progress-loading-size: 25px !default;
$plyr-progress-loading-bg: transparentize(#000, .85) !default;
$plyr-video-progress-bg: transparentize(#fff, .75) !default;
$plyr-video-progress-buffered-bg: $plyr-video-progress-bg !default;
$plyr-audio-progress-bg: transparentize(#C6D6DB, .33) !default;
$plyr-audio-progress-buffered-bg: $plyr-audio-progress-bg !default;

// Range sliders
$plyr-range-track-height: 3px !default;
$plyr-range-thumb-height: 0 !default;
$plyr-range-thumb-width: 0 !default;
$plyr-range-thumb-bg: transparent !default;
$plyr-range-thumb-border: 0;
$plyr-range-thumb-shadow: none;
$plyr-range-thumb-active-border-color: #fff !default;
$plyr-range-thumb-active-bg: $plyr-video-control-bg-hover !default;
$plyr-range-thumb-active-scale: 1.25 !default;
$plyr-video-range-track-bg: $plyr-video-progress-buffered-bg !default;
$plyr-audio-range-track-bg: $plyr-audio-progress-buffered-bg !default;
$plyr-range-selected-bg: $plyr-color-main !default;

// Breakpoints
$plyr-bp-screen-sm: 480px !default;
$plyr-bp-screen-md: 768px !default;
$plyr-bp-screen-lg: 1024px !default;