$color-accent: $color-dark;

@import './variables.scss';
@import './mixins.scss';
@import 'plyr/src/sass/plyr.scss';

.plyr {
  width: 100%;
  visibility: visible;
}

.c-video-play {
  border-radius: 50%;
  background: rgba(#cbcbcb, 0.5);
  border: 0;
  padding: 30px;
  cursor: pointer;
  transition: all 0.3s ease-out;

  @at-root .no-touchevents &:hover {
    background: rgba(#cbcbcb, 0.8);
  }

  &__icon{
    display: block;
    width: 15px;
    height: 15px;
  }
}