<!DOCTYPE html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{ pageTitle }}</title>
    <meta name="description" content="{{ metaDescription }}" />
    {% block meta %}{% endblock %}

    <!-- This could be needed in some layouts
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />
    -->
    <!-- mobile meta (hooray!) -->
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- build:css ./assets/stylesheets/application.min.css -->
    <link rel="stylesheet" href="./assets/stylesheets/application.css" />
    <!-- endbuild -->

    <!--[if lt IE 9]>
    <script src="./assets/vendors/html5shiv/dist/html5shiv-printshiv.min.js"></script>
    <![endif]-->

    <!-- build:replace ./assets/vendors/modernizr/modernizr.min.js defer -->
    <script defer src="./assets/vendors/modernizr/modernizr.js"></script>
    <!-- endbuild -->

    {% block head %}
    {% endblock %}
</head>
<body class="{{ bodyClass if bodyClass | safe }}">
    {% include 'partials/_icons-sprites.html' %}
    {% include 'partials/loader.html' %}

    <div id="barba-wrapper">
        {% include 'partials/menu.html' %}
        {% include 'partials/menu-mobile.html' %}

        {% block main %}
        {% endblock %}
    </div>

    <aside class="c-overlay c-overlay--quick-buy" data-panels="quickbuy">
        <div class="c-overlay__close">
            <div data-close="quickbuy" class=" c-close-button">
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="c-overlay__wrapper" data-panels-inner></div>
    </aside>
    <aside class="c-overlay c-overlay--video" data-panels="video">
        <div data-close="video" class="c-overlay__close">
            <div class="c-close-button c-close-button--menu">
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="c-overlay__wrapper" data-panels-inner></div>
    </aside>
    {% include 'partials/_aside-gallery.html' %}
    {% include 'partials/_newsletter.html' %}

    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.23.0/polyfill.min.js"></script>

    <!-- build:js ./assets/javascripts/application.min.js defer -->
    <script defer src="./assets/javascripts/application.js"></script>
    <!-- endbuild -->

</body>
</html>
