{% extends 'templates/_default.nunj.html' %}
{% set pageTitle = "Product | Alberta Ferretti" %}

{% block main %}
<section class="barba-container" data-cloak data-namespace="product">
  <div class="l-product">
    <div class="c-product js-product-page">
      <div class="c-product__col">
        <div class="c-product__breadcrumbs">
          <a data-nav="listing" href="/listing-banner.html">Dresses</a> / Long dress in pastel pale blue chiffon</p>
        </div>
        <div class="c-product-description">
          <strong class="c-product-description__capsule u-hidden--until-md">rainbow week</strong>
          <h1 class="u-hidden--until-md">LONG DRESS IN PASTEL PALE BLUE CHIFFON</h1>
          <p>Sophisticated silk chiffon evening dress with crepon effect in pale blue pastel. Long sleeves with romantic geometric lace trim. Gentle drapes that softly wrap around the body to create a V neck.</p>
        </div>
        {% include 'partials/_tabs.html' %}
      </div>
      <div class="c-product__col-images">
        <div class="c-product-images js-mobile-carousel">
          <div data-slide class="image-wrapper" data-load>
            <img src="./assets/images/prod/item-01.jpg" alt="">
          </div>
          <div data-slide class="image-wrapper" data-load>
            <img src="./assets/images/prod/item-02.jpg" alt="">
          </div>
          <div data-slide class="image-wrapper" data-load>
            <img src="./assets/images/prod/item-03.jpg" alt="">
          </div>
          <div data-slide class="image-wrapper" data-load>
            <img src="./assets/images/prod/item-04.jpg" alt="">
          </div>
          <div data-slide class="image-wrapper" data-load>
            <img src="./assets/images/prod/item-05.jpg" alt="">
          </div>
        </div>
      </div>
      <div class="c-product__col">
        <div class="c-product-navigation">
          <a href="/product-notifyme.html" data-nav="product">
            <svg class="o-icon o-icon--arrow"><use xlink:href="#arrow-left"></use></svg>
          </a>
          <a href="/{{next}}.html" data-nav="product">
            <svg class="o-icon o-icon--arrow"><use xlink:href="#arrow-right"></use></svg>
          </a>
        </div>
        <div class="c-product-variables">
          <div class="c-product-description u-hidden--from-md">
            <strong class="c-product-description__capsule">rainbow week</strong>
            <h1>LONG DRESS IN PASTEL PALE BLUE CHIFFON</h1>
          </div>
          <div class="c-product-variables__price">
            {% block price %}
            <strong>EUR 1800,00</strong>
            {% endblock %}
          </div>
          <div class="c-options-product">
            <div class="c-options-product__wrapper">
              <div class="c-options-product__list">
                <div class="o-radio selected">
                  <span class="label-image" for="rainbow">
                    <img src="./assets/images/rainbow.jpg" alt="">
                  </span>
                </div>
                <div class="o-radio">
                  <span class="label-image">
                    <img src="./assets/images/rainbow.jpg" alt="">
                  </span>
                </div>
              </div>
              <div class="c-options-product__colors">
                <span>Deep Jade</span>
              </div>
            </div>
          </div>
          <div class="c-options-product">
            <div class="c-options-product__wrapper">
              <div class="c-options-product__list">
                {% block sizes %}
                <div class="o-radio">
                  <div class="label-text">6</div>
                </div>
                <div class="o-radio">
                  <div class="label-text">8</div>
                </div>
                <div class="o-radio">
                  <div class="label-text">10</div>
                </div>
                <div class="o-radio">
                  <div class="label-text">12</div>
                </div>
                {% endblock %}
              </div>
              <div class="c-options-product__sizes">
                <a href="#">size guide</a>
              </div>
            </div>
            {% block stock %}
            {% endblock %}
          </div>
          <div class="c-product-variables__tip">
              <p>La taglia visualizzata per questo articolo corrisponde a quella riportata sull’etichetta.</p>
          </div>
          <div class="c-product-variables__cta">
            {% block cta %}
            <button class="o-button o-button--filled disabled">
              <span>Aggiungi alla shopping bag</span>
            </button>
            {% endblock %}
          </div>
          <div class="c-product-variables__wishlist">
            <a href="">Aggiungi alla wishlist</a>
          </div>
          <div class="c-product-variables__infos">
            <p>Spedizioni e resi gratuiti</p>
          </div>
        </div>
        {% include 'partials/notify-me.html' %}
      </div>
    </div>

    {% include 'partials/related.html' %}
    {% include 'partials/_need-help.html' %}
  </div>
  {% include 'partials/_tabs-content.html' %}
  {% include 'partials/footer.html' %}
</section>
{% endblock %}